{% extends "musicCmsBundle:layout:base.html.twig" %}

{% block body -%}
    <h1>Жанр засах</h1>
    <div>
        {% if entity.img %}
            <img src="{{ imgstaturl }}{{ entity.img }}"/>
        {% endif %}
    </div>
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('genre') }}">
                Буцах
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
