{% extends "musicCmsBundle:layout:base.html.twig" %}
 {% block titlecont %} <h1>Жанр жагсаалт</h1>{% endblock %}
{% block body -%}
<ul class="list-inline">
    <li>
        <a href="{{ path('genre_new') }}" class="btn btn-success">
            Шинэ
        </a>
    </li>
</ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Д/д</th>
                <th>Зураг</th>
                <th>Icon</th>
                <th>Mobile</th>
                <th>Дэвсгэр зураг</th>
                <th>Нэр</th>
                <th>Нэр (<i>Англи</i>)</th>
                <th>Хугацаа (сек)</th>
                <th>Дууны тоо</th>
                <th>Like тоолуур</th>
                <th>Нийтлэх огноо</th>
                <th></th>
                <th>Үүсгэсэн огноо</th>
                <th>Өөрчилсөн огноо</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.img %}<a href="{{ imgstaturl }}{{ entity.img }}" target="_blank"><img style="width: 200px; height: auto;" src="{{ imgstaturl }}{{ entity.img }}"/></a>{% endif %}</td>
                <td>{% if entity.icon %}<a href="{{ imgstaturl }}{{ entity.icon }}" target="_blank"><img style="width: 200px; height: auto;" src="{{ imgstaturl }}{{ entity.icon }}"/></a>{% endif %}</td>
                <td>{% if entity.icon %}<a href="{{ imgstaturl }}{{ entity.thumb_android }}" target="_blank"><img style="width: 200px; height: auto;" src="{{ imgstaturl }}{{ entity.thumb_android }}"/></a>{% endif %}</td>
                <td>{% if entity.backgroundImg %}<a href="{{ imgstaturl }}{{ entity.backgroundImg }}" target="_blank"><img style="width: 200px; height: auto;" src="{{ imgstaturl }}{{ entity.backgroundImg }}"/></a>{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.name_en }}</td>
                <td>{{ entity.duration }}</td>
                <td><a href="{{ path('genre_list', { 'id': entity.id }) }}">{{ entity.getTrackNumber  }}</a></td>
                <td>{{ entity.like_count }}</td>
                <td class="date">{% if entity.getPublishDate %}{{ entity.getPublishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('genre_edit', { 'id': entity.id }) }}" class="btn btn-default">Засах</a></td>
                <td class="date">{% if entity.getCreatedDate %}{{ entity.getCreatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="date">{% if entity.getUpdatedDate %}{{ entity.getUpdatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
