{% extends "musicCmsBundle:layout:base.html.twig" %}
 {% block titlecont %}
     <h1>Жанр</h1>
 {% endblock %}

{% block body -%}
    <ul class="list-inline">
        <li>
            <a href="{{ path('genre_new') }}" class="btn btn-success">
                Шинэ
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
        <tr>
            <th>Д/д</th>
            <th>ID</th>
            <th>Нэр</th>
            <th>Дуучин</th>
        </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for entity in entities %}
            {% set counter = counter + 1 %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ entity.audio.id }}</td>
                <td>{{ entity.audio.name }}</td>
                <td>{{ entity.audio.artist_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
