{% extends "musicCmsBundle:layout:base.html.twig" %}

{% block body -%}
    <h1>Жанр үүсгэх</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('genre') }}">
            Буцах
        </a>
    </li>
</ul>
{% endblock %}
