{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Дуу засах
{% endblock %}

{% block body -%}
    <h1>Дуу засах</h1>
    {% if entity.file_url %}
        {{ entity.file_url }}<br>
        {{ imgstaturl }}{{entity.img}}
    {% endif %}
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="form-group">
        {{ form_label(edit_form.imagefile) }}
        {%if entity.img%}
            <a href=" {{ imgstaturl }}{{entity.img}}" target="_blank">
                <img style="border: 1px solid #ddd;max-width: 200px;" src="{{ imgstaturl }}{{entity.img}}" />
            </a>
            thumbnails:
            {% for thumb in thumbsizes %}
                <a href="{{ imgstaturl }}{{ imgstatthumbpath }}/{{ thumb }}{{entity.img}}" target="_blank">
                    {{ thumb }}
                    <img style="border: 1px solid #ddd;max-width: 100px;" src="{{ imgstaturl }}{{ imgstatthumbpath }}/{{ thumb }}{{entity.img}}" />
                </a>
            {% endfor %}
        {%endif%}
        {{ form_errors(edit_form.imagefile) }} {{form_widget(edit_form.imagefile) }}
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('audio') }}" class="btn btn-info">
           Жагсаалтлуу буцах
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
