{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Дуу хэсэг
{% endblock %}

{% block body -%}


    <h1>Дууны жагсаалт </h1>

    <div style="position: relative;">
        <video class="mejs-gogo" width="100%" height="90" id="player1" preload="none" style="position: relative !important;">
            <!-- Pseudo HTML5 -->
            <source type="application/x-mpegURL" src="/stat/testAudio/index.m3u8"/>
            {#<source type="video/webm" src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm">#}

        </video>
        <div class="current-audio-title" style="color:white; height: 50px; position: absolute; top: 5px; left: 0; z-index: 100; font-size: 20px;"></div>
    </div>


    <a href="{{ path('audio_new') }}" class="btn btn-success ">
        Шинээр үүсгэх
    </a>


    <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{% endif %}" id="searchpad">
        {% include 'musicCmsBundle:Audio:search.html.twig' %}
    </fieldset>


    {% include 'musicCmsBundle:Audio:page.html.twig' %}


    <table class="records_list">
        <thead>
        <tr>
            <th>Д/д</th>
            <th>тоглуулах</th>
            <th>Зураг</th>
            <th style="min-width: 200px;">Нэр</th>
            <th></th>
            <th>Засвар</th>
            <th>Нийтлэх огноо</th>
            <th>Жанр</th>
            <th>Дуучны нэр</th>
            <th>Студи</th>
            {#<th>Дууны үг</th>#}
            <th>Бүтээсэн огноо</th>
            {#<th>Duration</th>#}
            <th>Listen тоолуур</th>
            <th>Like тоолуур</th>

            {#<th>Is_mongolian</th>#}
            <th>Үүсгэсэн огноо</th>
            <th>Зассан огноо</th>

        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            {% if entity.is_mongolian == 1 %}
                <tr class="audio-row">
                    <td class="audio-row-id">{{ entity.id }}</td>
                    <td class="play-button" play-url="{{ entity.file_url }}"><a href="javascript:void(0)">тоглуулах</a></td>
                    <td>
                        {% if entity.img %}
                            <img style="border: 1px solid #ddd;max-height: 50px;"
                                 src="{{ imgstaturl }}{{ entity.img }}"/>
                        {% endif %}

                    </td>
                    <td class="audio-row-name">{{ entity.name }}</td>
                    <td style="white-space: nowrap;">
                        <a href="{{ path('audio_art_add', {'id': entity.id}) }}" title="Дуучин"
                           class="btn btn-primary"><i class="icon-smile"></i><i class="icon-microphone"></i> <span
                                    class="badge">{{ entity.artistcount }}</span></a>

                        <a href="{{ path('audio_album_add' , {'id': entity.id}) }}" title="Цомог"
                           class="btn btn-primary"><i class="glyphicon glyphicon-cd"></i> <span
                                    class="badge">{{ entity.albumcount }}</span></a>

                        <a href="{{ path('audio_video', {'id': entity.id}) }}" title="Видео"
                           class="btn btn-primary"><i class="glyphicon glyphicon-facetime-video"></i> <span
                                    class="badge">{{ entity.videocount }}</span></a>
                    </td>
                    <td><a href="{{ path('audio_edit', { 'id': entity.id }) }}" class=" btn btn-success">Засах</a></td>
                    {#<td>{{ entity.hitone }}</td>#}
                    <td class="date"
                            {% if entity.publish_date %}
                                {% if entity.publish_date  > date() %}
                                    style="background: #95CDFF;" title="Ирээдүйд нийтлэгдэх"
                                {% endif %}
                            {% else %}
                                style="background: #fec7c7;" title="Нийтлэх хугацаа тохируулаагүй"
                            {% endif %}
                            >
                        {% if entity.publish_date %}
                            {{ entity.publish_date|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        {% for genre in entity.genre_audios %}
                            {{ genre.genre.name }}
                            {% if genre > 1 %}
                                ,
                            {% endif %}
                        {% endfor %}


                    </td>
                    <td class="audio-row-artist">{{ entity.artist_name }}</td>
                    <td>
                        {#{% if entity.studio %}{{ entity.studio.name }}{% endif %}#}
                    </td>
                    {#<td>{{ entity.lyrics }}</td>#}
                    <td>{% if entity.released_year %}{{ entity.released_year|date('Y-m-d H:i:s') }}{% endif %}</td>
                    {#<td>{{ entity.duration }}</td>#}
                    <td>{{ entity.listen_count }}</td>
                    <td>{{ entity.like_count }}</td>
                    {#<td>{{ entity.is_mongolian }}</td>#}
                    <td>{% if entity.created_date %}{{ entity.created_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updated_date %}{{ entity.updated_date|date('Y-m-d H:i:s') }}{% endif %}</td>


                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


    <script type="text/javascript">
        if (window.location.search != '') {
            $.each($('.pagination a'), function (key, val) {
                $(this).attr('href', $(this).attr('href') + window.location.search);
            })
        }
        $('#searchlink').click(function () {
            $('#searchpad').toggle();
        });



        $('video').mediaelementplayer({
            features: ['playpause','volume','current','progress','duration'],
            enablePluginDebug: true,
            enableKeyboard: false,
            pluginPath:'/stat/js/player/',
            flashName: 'flashmediaelement.swf',
            silverlightName: 'silverlightmediaelement.xap',
            startVolume: 0.5,
            alwaysShowControls: true,
            alwaysShowHours: true,
            pauseOtherPlayers: true,
            hideVideoControlsOnLoad: false,
            timeFormat: 'mm:ss',
            audioVolume: 'horizontal',
            videoVolume: 'horizontal',
            plugins: ['silverlight', 'flash'],
            success: function (media, node, player) {
                player.setSrc('');
                media.addEventListener('ended', function () {

                }, false);
                media.addEventListener('loadedmetadata',function(){

                }, false);
            },
            error: function (media, node, player) {
                console.log('medialement problem is detected: %o', media);
                player.stop();
                alert('aldaa garlaa');

            }
        });

        $('.play-button').click(function(){
            var url = $(this).attr('play-url');
            var player = new MediaElementPlayer('#player1', {
                error: function (media) {
                    alert('тоглуулагчид алдаа гарлаа. Дахин ачаална уу');
                }
            });
            player.setCurrentTime(0);
            player.pause();
            var filename = url.split("/").pop();
            var filepath = url.replace(filename,'');
            filepath = filepath.replace('+','%2B');
            filepath = filepath.replace('=','%3D');
            var source = 'http://streaming.gogo.mn:1935/gogomusic/_definst_'+filepath+'mp3:'+filename+'/playlist.m3u8';
            player.setSrc([
                {src: source, type: "application/x-mpegURL"}
            ]);
            var row = $(this).closest('.audio-row');
            var name = row.find('.audio-row-name').text();
            var audioId = row.find('.audio-row-id').text();
            var artist = row.find('.audio-row-artist').text();
            $('.current-audio-title').text(audioId+': '+name + ' - ' + artist);
            setTimeout(function(){
                player.load();
                player.play();
            },100);
        });


    </script>
{% endblock %}
