{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Дуу үүсгэх
{% endblock %}

{% block body -%}
    <h1>Дуу үүсгэх</h1>
    <h3 class="text-danger">Та дуу оруулахдаа зөвхөн mp3 өргөтгөлтэй file оруулна уу!</h3>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('audio') }}" class = "btn btn-info">
            Жагсаалтлуу буцах
        </a>
    </li>
</ul>
{% endblock %}
