{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Студи
{% endblock %}

{% block body -%}
    <h1>Студи засах хэсэг</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('studio') }}" class="btn btn-info">
           Жагсаалтлуу буцах
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
