{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Студи хэсэг
{% endblock %}

{% block body -%}
    <h1>Студи жагсаалт</h1>
<br>
    <table class="records_list">
        <thead>
            <tr>
                <th>Д/д</th>
                <th>Нэр</th>
                <th>Үүсгэсэн огноо</th>
                <th>Засвар</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.established_date %}{{ entity.established_date|date('Y-m-d') }}{% endif %}</td>
                <td> <a href="{{ path('studio_edit', { 'id': entity.id }) }}" class="btn btn-success ">Засах</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
        <ul>
        <li>
            <a href="{{ path('studio_new') }}" class="btn btn-success ">
                Шинээр үүсгэх
            </a>
        </li>
    </ul>
    {% endblock %}
