{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Студи
{% endblock %}

{% block body -%}
    <h1>Студи</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Д/д</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Нэр</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Үүсгэсэн огноо</th>
                <td> {{ entity.established_date|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('studio') }}" class="btn btn-danger">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('studio_edit', { 'id': entity.id }) }}" class="btn btn-success">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
