{% extends 'musicCmsBundle:layout:base.html.twig' %}

{% block body -%}
    <h1>{{ audio.name }} дууны видеонууд</h1>
    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('audio_video_seek', {'id': audio.id}) }}">
                Видео нэмэх
            </a>
        </li>
        <li>
            <a href="{{ path('audio') }}">Буцах</a>
        </li>
    </ul>
    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                {% if entity.video %}
                    <td><img style="width: 100px;" src="{{ entity.video.img }}"/></td>
                    <td>{{ entity.video.name }}</td>
                    <td><a href="https://www.youtube.com/watch?v={{ entity.video.videoUrl }}" target="_blank">{{ entity.video.videoUrl }}</a></td>
                    <td>
                        <ul>
                            <li>
                                <form action="{{ path('audio_video_remove', {'id': audio.id, 'sid': entity.video.id}) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </li>
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
