{% extends 'musicCmsBundle:layout:base.html.twig' %}

{% block body -%}
    <h1>{{ audio.name }} дуунд видео нэмэх</h1>
    <ul class="list-inline">
        <li>
            <a href="{{ path('audio_video', {'id': audio.id}) }}">Буцах</a>
        </li>
    </ul>
    {% include 'musicCmsBundle:inc:searchpanel.html.twig' with {'search_panel_collapse': true} %}
    {% include 'musicCmsBundle:inc:page.html.twig' %}
    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Зураг</th>
            <th>Нэр</th>
            <th>Youtube ID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><img style="width: 100px;" src="{{ entity.img }}"/></td>
                <td>{{ entity.name }}</td>
                <td><a href="https://www.youtube.com/watch?v={{ entity.videoUrl }}" target="_blank">{{ entity.videoUrl }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="ajaxcaller btn btn-success" onclick="callAjaxHref(this);" data-href="{{ path('audio_video_add', {'id': audio.id, 'sid': entity.id}) }}"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-time"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
