{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Видео
{% endblock %}

{% block body -%}
    <h2>  Видео нэр: {{ videoname }}</h2>
    {{ form(form) }}


    <script type="text/javascript">
        $(document).ready(function() {
            $("#{{ form.artistids.vars.id }}").tokenInput('{{ path('artist_getdata') }}',{
                        prePopulate: [{% for albumart in vidarts %}
                            {
                                id: {{ albumart.artist.id }}, name: '{{ albumart.artist.name }}'
                            },
                            {% endfor %}],
                        preventDuplicates:true
                    }
            );
        });
    </script>

    {% endblock %}
