{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ArtistVideo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Artist_id</th>
                <td>{{ entity.artistid }}</td>
            </tr>
            <tr>
                <th>Video_id</th>
                <td>{{ entity.videoid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('artistvideo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
