{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block body %}

    {% if is_granted('ROLE_USER') %}

        Tavtai moril {{ username }}

    {% endif %}
    {% if username == 'gombo' %}
        {% for i in 0..10 %}
            <ul>
                <li>i</li>
            </ul>
        {% endfor %}
    {% endif %}

    name:   <input name="name" id = "name" type="text"/><br>
    pass:   <input name="pass" id = "pass" type="text"/><br>
    <input name="pass" id = "pass" type="submit" />
{% endblock %}