{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Дуучин хэсэг
{% endblock %}

{% block body -%}
    <h1>  Дууны жанр өөрчлөх хэсэг</h1>
<h4 class="text-danger">Энэхүү хэсгийг ашигласнаар тухайн дуучинтай холбоотой бүх дууны жанр өөрчлөглөх болохыг анхаарна уу!</h4>
    {{ form(form) }}

 <ul class="record_actions">
    <li>
        <a href="{{ path('artist') }}" class="btn btn-info">
            Жагсаалтруу буцах
        </a>
    </li>
</ul>
{% endblock %}
