{% extends "musicCmsBundle:layout:base.html.twig" %}

{% block title -%}
    Дуучин хэсэг
{% endblock %}

{% block body -%}
    <h1>Дуучид жагсаалт</h1>

    <a href="{{ path('artist_new') }}" class="btn btn-success">
        Шинээр үүсгэх
    </a>

    <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{% endif %}" id="searchpad">
        {% include 'musicCmsBundle:Artist:search.html.twig' %}
    </fieldset>
    {% include 'musicCmsBundle:Artist:page.html.twig' %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Д/д</th>
            <th>Зураг</th>
            <th>Нэр</th>
            <th>Засвар</th>
            <th>Нийтлэх огноо</th>
            <th>Тайлбар</th>
            <th>Амжилт</th>
            <th>Дуу тоо</th>
            <th>Цомог тоо</th>
            <th>Цахим хуудас</th>
            <th>ФБ хуудас</th>
            <th>Твиттер хуудас</th>
            <th>Хамтлаг эсэх</th>
            <th>Төрсөн огноо</th>
            <th>Өндөр</th>
            <th>Иргэншил</th>
            <th>Монгол эсэх</th>
            <th>Дууны жанр өөрчлөх</th>
            {#<th>Дуунууд</th>#}

        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>

                    {% if entity.img %}
                        {% if entity.img_is_big %}
                            Шинэ: <img src="{{ imgstaturl }}{{ entity.img }}" style="max-width: 80px;"/>
                        {% else %}
                            Хуучин: <img style="border: 1px solid #ddd;max-width: 80px;" src="    {{ entity.img }}"/>
                            <br>
                        {% endif %}
                    {% endif %}

                </td>
                <td>{{ entity.name }}</td>

                <td>
                    <a href="{{ path('artist_edit', { 'id': entity.id }) }}" class="btn btn-success">Засах</a>

                </td>
                <td class="date"
                        {% if entity.published_date %}
                            {% if entity.published_date  > date() %}
                                style="background: #95CDFF;" title="Ирээдүйд нийтлэгдэх"
                            {% endif %}
                        {% else %}
                            style="background: #fec7c7;" title="Нийтлэх хугацаа тохируулаагүй"
                        {% endif %}
                >
                    {% if entity.published_date %}
                        {{ entity.published_date|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.career }}</td>


                <td><a href="{{ path('art_auds', {'id': entity.id}) }}">{{ entity.audiocount }}</a></td>
                <td>{{ entity.albumcount }}</td>
                <td>{{ entity.web_url }}</td>
                <td>{{ entity.fb_url }}</td>
                <td>{{ entity.tw_url }}</td>
                <td> {% if entity.is_band == 1 %} Тийм {% else %}Үгүй{% endif %}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.height }}</td>
                <td>{{ entity.nationality }}</td>
                <td>{% if entity.is_mongolian == 1 %} Тийм {% else %}Үгүй{% endif %} </td>
                <td><a href="{{ path('artist_audiogenre_set', { 'id': entity.id }) }}" class="btn btn-success"><i
                                class="icon-microphone"></i></a></td>
                {#<td><a href="{{ path('artist_audios', {'id': entity.id}) }}" class="btn btn-primary">Дуунууд: {{ entity.audiocount }}</a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        if (window.location.search != '') {
            $.each($('.pagination a'), function (key, val) {
                $(this).attr('href', $(this).attr('href') + window.location.search);
            })
        }
        $('#searchlink').click(function () {
            $('#searchpad').toggle();
        });
    </script>
{% endblock %}
