{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Дуучин хэсэг
{% endblock %}

{% block body -%}
    <h1>  Дуучин шинээр үүсгэх</h1>
    {{ form(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('artist') }}" class="btn btn-info">
          Жагсаалтлуу буцах
        </a>
    </li>
</ul>
{% endblock %}
