{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?
{% endblock %}

{% block body -%}
    <h1>{% if entity.img %}
        <img src="{{ entity.img }}" width = "100px" height="120px"/>
        {% else %}
            <img src="/image/noimg.jpg" width = "100px" height="120px"/>
        {% endif %} Artist</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Career</th>
                <td>{{ entity.career }}</td>
            </tr>

            <tr>
                <th>Is_band</th>
                <td>{{ entity.is_band }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ entity.birthday|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ entity.height }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ entity.nationality }}</td>
            </tr>
            <tr>
                <th>Is_mongolian</th>
                <td>{{ entity.is_mongolian }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('artist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('artist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
