{% if search_panel_collapse is not defined %}
    {% if search_form.vars.data %}
        {% set search_panel_collapse = true %}
    {% else %}
        {% set search_panel_collapse = false %}
    {% endif %}
{% endif %}
<div class="searchpanel {% if search_panel_collapse %}searchpanel-collapse{% endif %} panel panel-default">
    <div class="panel-heading" onclick="toggleSearchForm(this.parentElement)">
        <h3 class="panel-title">Хайлт <i class="glyphicon glyphicon-collapse-down"></i><i
                    class="glyphicon glyphicon-expand"></i></h3>
    </div>
    <div class="panel-body" {% if not search_panel_collapse %}style="display: none;"{% endif %}>
        {{ form(search_form) }}
    </div>
</div>