{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}


{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' %}
{% endblock %}



{% block main %}

    <style>
        .sub-title{
            text-transform: uppercase;
            font-size: 15px;
            margin-top: 30px;
        }
        h2{
            margin-top: 50px;
        }
        .asuult{
            margin-top: 30px;
            font-size: 14px;
        }
        .gray-body{

        }
        p{
            padding-left:20px;
        }
    </style>

    <div class="container" style="color: #111111; margin-top: 60px; padding-top: 10px; font-family: RobotoLight, arial, Helvetica; margin-bottom: 40px; padding-left: 40px; padding-right: 40px; background-color: #eeeeee; border-radius: 10px;">
        <div class="inner-container" style="width: 80%; float: right;">
            <h2>GoGo Music гэж юу вэ?</h2>
            <p class="gray-body">
                GoGo Music нь Монголын хамтлаг дуучид, уран бүтээлчдийн дуу хөгжмийн бүтээлийг төрөл жанр болон төлөв байдлаар нь төрөлжүүлэн үнэ төлбөргүй сонсох боломж бүхий үйлчилгээ юм.
                Мөн хэрэглэгч та дуу хөгжмийн шинэ видео клип болон мэдээ мэдээллийг нэг дороос хүлээн авах боломжтой.
                GoGo Music үйлчилгээг вэб сайт болон ухаалаг төхөөрөмжинд зориулсан аппликэйшнээр дамжуулан ашиглаж болно.
                Үйлчилгээний өөрчлөлт, шинэчлэлтын талаар цаг бүрд нь мэдэхийг хүсвэл та манай Твиттер хаяг болон Фэйсбүүк хуудсыг дагаарай.
                Таньд санал хүсэлт байвал бидэнд хаягаар бичиж болно.
                Дуртай дуу хөгжмөө тасралтгүй сонсоорой!
            </p>

            <h2>Ашиглах заавар</h2>
            <div class="sub-title">Радио сонсох</div>
            <p class="gray-body">
                Хэрэглэгч та бүхэн GoGo Music-н зүгээс санал болгож буй төрөл жанр, төлөв байдал бүхий радионуудаас сонголтоо хийж сонсох боломжтой. Та “Радио нэмэх” дээр дарснаар гурав хүртэлх радиог сонгож, тухайн радионуудын дууг хольж сонсож болно.
                <img src="{{ statresurl }}/stat/images/about-shot.jpg" alt="" style="width: 100%; height: auto; margin-top: 10px;">
            </p>


            <div class="sub-title">Алгасах</div>
            <p class="gray-body">
                Хэрэглэгч та өөрийн сонгосон радиогоор тоглогдож байгаа дууг дахин сонсох, өмнө сонссон дууг дахин сонсох боломжгүй.
                Харин сонсож буй дуугаа алгасаж, дараагийн дууг сонсох боломжтой байх бөгөөд 1 цагт нэг суваг дээр 6 удаа алгасах үйлдлийг хийх боломжтой байна.
            </p>

            <div class="sub-title">Гоё дуу болон Таалагдсангүй</div>
            <p class="gray-body">
                Тухайн радиогоор явж байгаа дуу таньд таалагдаж байвал “Гоё дуу” товчин дээр дарж, уран бүтээлчиддээ урам хайрлаарай. Харин таалагдахгүй байвал “Энэ радиогоос хасах” товчин дээр дарна уу. Ингэснээр таныг дараагийн удаа тухайн радиог сонсоход тэр дуу дахин тоглогдохгүй.
            </p>



            <h2>Асуулт хариулт</h2>

            <h4 class="asuult"><b>Дуу татаж авч болох уу?</b></h4>
            <p class="gray-body">
                GoGo Music үйлчилгээнээс дуу татаж авах боломжгүй.
                Зарим дуу, цомгийг дагалдах холбоос дээр дарж гуравдагч талын үйлчилгээ, вэб хуудаснаас татаж авч болно.
            </p>

            <h4 class="asuult"><b>Хэрхэн дуугаа байршуулах вэ?</b></h4>
            <p class="gray-body">Уран бүтээлч та GoGo Music үйлчилгээнд өөрийн уран бүтээлээ байршуулах хүсэлтэй байгаа бол mongolmusic@mongolcontent.mn, https://www.facebook.com/MongolMusicGroup/ хаягаар бидэнд хандана уу.</p>

            <h4 class="asuult"><b>Яагаад миний дуртай хамтлагийн дуу байхгүй байгаа юм бэ?</b></h4>
            <p class="gray-body">GoGo Music үйлчилгээ нь Эрх эзэмшигчидтэй болон “Дуу Бичлэг Бүтээгчдийн Үндэсний Төв” ТББ –тай байгуулсан гэрээний дагуу гишүүн уран бүтээлчдийн дуу хөгжмийг “Олон нийтэд тоглуулах эрх”-ийн гэрээгээр үйлчилгээндээ байршуулдаг юм. Хэрэв таны дуртай уран бүтээлчийн дуу байхгүй байгаа бол тухайн уран бүтээлч ДББҮТ-н гишүүнээр элсээгүй байна.</p>


        </div>


    </div>
{% endblock %}