<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta property="article:publisher" content="http://music.gogo.mn/">
    <meta name="viewport" content="width=device-width, height=device-height"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>GoGo Хѳгжим</title>
    <link rel="shortcut icon" type="image/png" href="http://gstat.mn/gogomn/img/favicon.png"/>
</head>

<body style="background-image: url('http://gstat.mn/musicnew/statres/stat/images/mobile_background.jpg'); min-height: 100%; min-width: 100%;">
<a href="https://play.google.com/store/apps/details?id=mn.moco.radio">

    <div style="position: absolute; top: 35px;; height: 30px; left:30px; right: 30px;">
        <img src="http://gstat.mn/musicnew/statres/stat/images/radio-icon.png" style="max-width:100%;max-height:100%; margin:auto;display:block; vertical-align: middle;" alt="">
    </div>
    <div style="position: absolute; top:100px; bottom: 80px; left:30px; right: 30px;">
        <img src="http://gstat.mn/musicnew/statres/stat/images/android-phone.png" style="max-width:100%;max-height:100%; margin:auto;display:block; vertical-align: middle;" alt="">
    </div>
    <div style="position: absolute; bottom: 20px;; height: 40px; left:30px; right: 30px;">
        <img src="http://gstat.mn/musicnew/statres/stat/images/google-play-button.png" style="max-width:100%;max-height:100%; margin:auto;display:block; vertical-align: middle;" alt="">
    </div>

</a>




<script type="text/javascript">


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2482000-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>