{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}


{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' %}
{% endblock %}



{% block main %}
<div class="video-container">
    {% if genre_list is defined and genre_list|length > 0 %}
        <div class="cbox-pad">
            <div class="cbox-line">
                <div class="cbox-title">
                    <a class="pjx-url" href="{{ path('web_menu_radio') }}">
                        Радио
                    </a>
                    <div class="cbox-title-line"></div>
                </div>

                <div class="cboxs" style="width: {{ genre_list|length * 270-20 }}px;margin-left:0;">
                    {% for genre in genre_list %}
                        <div class="cbox {% if loop.first %} cboxfirst {% endif %} {% if loop.last %} cboxlast {% endif %}">
                            {% include('musicWebBundle:inc:radio-thumb.html.twig') %}
                        </div>
                    {% endfor %}
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <a href="javascript:void(0)" class="radiocbox cbox-next"><img src="{{ statresurl }}/stat/images/cbox-next.png"></a>
            <a href="javascript:void(0)" class="radiocbox cbox-prev"><img src="{{ statresurl }}/stat/images/cbox-prev.png"></a>
        </div>
    {% endif %}




    {% if videos is defined and videos|length > 0 %}
        <div class="cbox-pad">
            <div class="cbox-line">
                <div class="cbox-title">
                    <a class="pjx-url" href="{{ path('web_menu_video') }}">
                        Видео
                    </a>
                    <div class="cbox-title-line"></div>
                </div>
                <div class="cboxs videocboxs" style="width: {{ videos|length * 500 - 20 }}px;margin-left:0;">
                    {% for video in videos %}
                        <div class="cbox {% if loop.first %} cboxfirst {% endif %} {% if loop.last %} cboxlast {% endif %}">
                            {% include 'musicWebBundle:template:simple-grid.html.twig' with { 'grid_href': video.href, 'grid_pjax': true, 'grid_img': video.img, 'grid_title': video.artist, 'grid_text': video.name } %}
                        </div>
                     {% endfor %}
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <a href="javascript:void(0)" class="videocbox cbox-next"><img src="{{ statresurl }}/stat/images/cbox-next.png"></a>
            <a href="javascript:void(0)" class="videocbox cbox-prev"><img src="{{ statresurl }}/stat/images/cbox-prev.png"></a>
        </div>
    {% endif %}



    {% if genre_list is defined and genre_list|length > 0 %}
        <div class="cbox-pad">
            <div class="cbox-line">
                <div class="cbox-title">
                    <a class="pjx-url" href="{{ path('web_menu_news') }}">
                        Мэдээ
                    </a>
                    <div class="cbox-title-line"></div>
                </div>

                <div class="cboxs newscboxs" style="width: {{ 16 * 500 - 20 }}px;margin-left:0;">
                    <div id="home-news-container">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <a href="javascript:void(0)" class="videocbox cbox-next"><img src="{{ statresurl }}/stat/images/cbox-next.png"></a>
            <a href="javascript:void(0)" class="videocbox cbox-prev"><img src="{{ statresurl }}/stat/images/cbox-prev.png"></a>
        </div>
    {% endif %}
</div>
<div style="width: 100%;height: 30px;margin-bottom: 20px;padding-right: 30px;margin-right: 20px;">
    <img src="{{ statresurl }}/stat/images/logomoscap2.png" style="float: right; height: 100%; width: auto; margin-left: 10px;" alt="">
    <img src="{{ statresurl }}/stat/images/mongol-music-logo.jpg" style="float: right; height: 100%; width: auto; margin-left: 20px;" alt="">
</div>

<div class="footer">
    © 2007-{{ "now"|date("Y") }} Монгол Контент ХХК<span></span> <a class="pjx-url" href="{{ path('web_get_tos') }}">Үйлчилгээний нөхцөл</a> <span>|</span> <a class="pjx-url" href="{{ path('web_get_about') }}">Заавар</a> <span>|</span>
    <a href="http://www.gogo.mn/banner" target="_blank">Сурталчилгаа</a> <span>|</span> <a href="http://www.gogo.mn/contactus" target="_blank">Холбоо барих</a>
</div>

{% verbatim %}
<script type="text/x-tmpl" id="simple-grid-tmpl">
    <div class="simple-grid">
        <a href="{%=o.href %}" target="_blank" style="display: block;color: #000;text-decoration: initial;">
            <div class="simple-grid-head simple-news-head">
                {% if (o.welcome_pic_nodomain) { %}
                     <img src="{%=o.thumburl %}" style="min-width: 100%; min-height:100%" />
                {% } %}
            </div>
            <div class="simple-grid-body">
                <div class="simple-grid-title">
                    {%=o.title %}
                </div>
                <div> <span class="news-creep cdate">{%=changeToDateString(o.publish_date) %}</span> <span class="news-creep ccomment">{%=o.comment_count%}</span> <span class="news-creep cshare">{%=o.share_count%}</span> </div>
            </div>
        </a>
    </div>
</script>
{% endverbatim %}

<script>
    $(document).ready(function () {
        if ($(document).width() < 1521 && $(document).width() > 1021){
            $('.videocboxs').width(3400);
            $('.newscboxs').width(340*16);
        }
    });



    $.cookie('closeradio','{{ path("web_homepage") }}');

    $.ajax({
        url: 'http://news.gogo.mn/gogomusic/getnews',
        type: 'POST',
        dataType: 'json',
        data: {
            page: 1,
            pagesize: 16,
            thumb_width: 620
        },
        success: function(response) {
            $.each(response.newslist, function(i, news){
                var tmp = tmpl("simple-grid-tmpl", news);
                if(i==15){
                    var k = $(tmp).addClass('cboxlast');
                    console.log();
                    $('#home-news-container > .clearfix').before(k.prop('outerHTML'));
                }else{
                    $('#home-news-container > .clearfix').before(tmp);
                }

                if(i==0){
                    $('#home-news-container .simple-grid:first-child').addClass('cboxfirst');
                }

            });
        }
    }).fail(function(){

    });

    $('.cbox-line').hover(function(){
        var pad = $(this).closest('.cbox-pad');
        pad.find('.cbox-next').find('img').attr('src','{{ statresurl }}/stat/images/cbox-next-hover.png');
        pad.find('.cbox-prev').find('img').attr('src','{{ statresurl }}/stat/images/cbox-prev-hover.png');
    },function(){
        var pad = $(this).closest('.cbox-pad');
        pad.find('.cbox-next').find('img').attr('src','{{ statresurl }}/stat/images/cbox-next.png');
        pad.find('.cbox-prev').find('img').attr('src','{{ statresurl }}/stat/images/cbox-prev.png');
    });


    $('.cbox-next').hover(function(){
        console.log('hover');
        $(this).find('img').attr('src','{{ statresurl }}/stat/images/cbox-next-hover.png');
    },function(){
        $(this).find('img').attr('src','{{ statresurl }}/stat/images/cbox-next.png');
    });

    $('.cbox-prev').hover(function(){
        console.log('hover');
        $(this).find('img').attr('src','{{ statresurl }}/stat/images/cbox-prev-hover.png');
    },function(){
        $(this).find('img').attr('src','{{ statresurl }}/stat/images/cbox-prev.png');
    });

</script>
{% endblock %}
