{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}

{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' with{'menu':3} %}
{% endblock %}

{% block main %}
<style>
    #news-container {
        padding: 30px 0;
    }
</style>
<div class="video-container">
    <div id="news-container">
        <div class="clearfix"></div>
    </div>
</div>
{% verbatim %}
<script type="text/x-tmpl" id="simple-grid-tmpl">
    <div class="simple-grid">
        <a href="{%=o.href %}" target="_blank" style="display: block;color: #000;text-decoration: initial;">
            <div class="simple-grid-head simple-news-head">
                {% if (o.welcome_pic_nodomain) { %}
                     <img src="{%=o.thumburl %}" style="" />
                {% } %}
            </div>
            <div class="simple-grid-body">
                <div class="simple-grid-title">
                    {%=o.title %}
                </div>
                <div> <span class="news-creep cdate">{%=changeToDateString(o.publish_date) %}</span> <span class="news-creep ccomment">{%=o.comment_count%}</span> <span class="news-creep cshare">{%=o.share_count%}</span> </div>
            </div>
        </a>
    </div>
</script>
{% endverbatim %}
<script>
//    $(document).ready(function () {
        tsetsee_news.init({
            root: 'news-container'
        });
//    });

    $.cookie('closeradio','{{ path("web_menu_news") }}');
    $(window).scroll(function () {
        if (tsetsee_news.isInited()) {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                tsetsee_news.loadNext();
            }
        }
    });
</script>
{% endblock %}

