{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}

{% block homebanner %}
    {#<div id="home-menu"><div class="helper-vertical-center"></div>#}
        {#<a href="/" class="pjx-url">#}
            {#<img src="{{ statresurl }}/stat/images/logo.png" alt="">#}
        {#</a>#}

    {#</div>#}
{% endblock %}

{% block main %}

    <div class="radio-detail">
        <div class="radio-detail-background">
            <img src="{{ statresurl }}/stat/images/radio_background.jpg" alt="">
        </div>
        {#<a href="{{ path('web_menu_radio') }}" class="pjx-url">#}
            <div onclick="closeDetail()" class="back-button bttn"></div>
        {#</a>#}
        <div class="radio-detail-wrapper">
            <div class="radio-content-wrapper">
                <div class="radio-detail-containar">
                    <div class="audio-cover-slide">
                        <div class="radio-cover third"><img src="{{ statresurl }}/stat/images/transparent.png" alt=""></div>
                        <div class="radio-cover second"><img src="{{ statresurl }}/stat/images/transparent.png" alt=""></div>
                        <div class="radio-cover first"><img src="{{ statresurl }}/stat/images/transparent.png" alt="">
                            <div style="position: absolute; width: 100%; height: 40px; top: 50%;transform: translateY(-50%)">
                                <div class="radio-cover-prev" onclick="prevAction(event)"><img class="bttn" src="{{ statresurl }}/stat/images/prev-icon.png" alt=""></div>
                                <div class="radio-cover-next" onclick="nextAction(event)"><img class="bttn" src="{{ statresurl }}/stat/images/next-icon.png" alt=""></div>
                            </div>
                            <div class="thumbs-container">
                                <div style="width: 100%; position: relative;height: 100%">
                                    <div style="margin-right: auto;margin-left: auto; width: 80px;height: 100%">
                                        <img class="thumb-up bttn" title="Гоё дуу" onclick="likeAction(event)" src="{{ statresurl }}/stat/images/thumb-up.png" alt="">
                                        <img class="thumb-down bttn" title="Энэ радиогоос хасах" onclick="dislikeAction(event)" src="{{ statresurl }}/stat/images/thumb-down.png" alt="">
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        
                    </div><!--
         --><div class="audio-name-container">
                        <div class="audio-name">

                        </div>
                        <div class="artist-name">

                        </div>
                        <div class="album-name">

                        </div>
                        <div class="hitone-text">
                            <span class="hitone-code"> </span> кодыг <b>455</b> дугаарт илгээж HiTONE-доо тохируулаарай
                        </div>
                        <div class="button-container">
                            {% include('musicWebBundle:inc:button-list.html.twig') %}
                        </div>
                        {#<div class="audio-lyrics">#}
                            {#<div class="raletive-wrapper">#}
                                {#<div class="lyrics-audio-lyrics absolute-cover">#}

                                {#</div>#}
                                {#<div class=" glyphicon glyphicon-remove lyrics-close bttn" title="Хаах"></div>#}
                            {#</div>#}

                        {#</div>#}
                    </div><!--
          --><div class="audio-banner">

                        <div class="gg_ban_div audio-banner-content" style="margin-bottom: 12px;text-align: center; width: 140px;height: 360px;" gg_ban_width="300" gg_ban_height="300" gg_ban_id="musicradioplayer"></div>

                    </div>
                </div>
            </div>

        </div>

        {#<div style="position: fixed; bottom: 20px; right: 100px;z-index: 100;">#}
            {#<a href="/" class="pjx-url">#}
                {#<img src="{{ statresurl }}/stat/images/logo.png" alt="">#}
            {#</a>#}
        {#</div>#}

    </div>

    <script>

        var currentIndex;

        var bnw = $('.audio-banner').width();
        var bnh = $('.audio-banner-content').height();
        $('.gg_ban_div').attr('gg_ban_width',bnw-20);
        $('.gg_ban_div').attr('gg_ban_height',bnh);

        $(document).ready(function ($) {
            var playlist = radioconfig.playlist;
            if(radioconfig.playlist.length > 0){
                currentIndex = playlist.length-1;
                $('.radio-detail-background').children('img').attr('src','{{ statdomain }}{{ statpath }}'+radioconfig.channel.backgroundImg);

                renderDetail();
            }else{
                $.pjax({
                    url: '/',
                    container: '#dynamic-content',
                    success: function(){

                    },
                    timeout: 6000
                });
            }

            $.getScript("http://bnn.gogo.mn/bn/bn.js?" + $.map($(".gg_ban_div:visible"), function (el) {
                        return "htmlids[]=" + $(el).attr("gg_ban_id");
                    }).join("&"), function () {
                $(document).ready(function () {
                    GoGoBanner.buildbanners();
                });
            });

        });

        function renderDetail(){
            var playlist = radioconfig.playlist;
            var currentAudio = playlist[currentIndex];
            $('.audio-name').text(currentAudio.name);
            $('.artist-name').text(currentAudio.artist_name);
            if (currentAudio.album_name != null){
                $('.album-name').text(currentAudio.album_name);
            }else{
                $('.album-name').text('');
            }
            if(currentAudio.hitone != null){
                $('.hitone-code').text(currentAudio.hitone);
            }else{
                $('.hitone-text').hide();
            }

            if(currentAudio.islike && currentAudio.islike == true){
                $('.thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up-filled.png');
            }else{
                $('.thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png');
            }

            if(currentAudio.dislike && currentAudio.dislike == true){
                $('.thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down-filled.png');
            }else{
                $('.thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down.png');
            }

            setCoverImage(2,currentAudio);

            if(currentIndex > 1){
                var second = playlist[currentIndex-1];
                setCoverImage(1,second);
                var first = playlist[currentIndex-2];
                setCoverImage(0,first);
            }else if(currentIndex == 1){
                var first = playlist[0];
                setCoverImage(1,first);
                setCoverImage(0,null);
            }else if(currentIndex == 0){
                setCoverImage(0,null);
                setCoverImage(1,null);
            }

            if(currentIndex > 0){
                $('.radio-cover-prev').show();
            }else{
                $('.radio-cover-prev').hide();
            }

            if(currentIndex == playlist.length - 1){
                $('.radio-cover-next').hide();
            }else{
                $('.radio-cover-next').show();
            }
        }


        function setCoverImage(ind,audio){
            var domObject;
            if(ind == 0){
                domObject = $(".radio-cover.third");
            }else if(ind == 1){
                domObject = $(".radio-cover.second");
            }else if(ind == 2){
                domObject = $(".radio-cover.first");
            }

            if(audio == null){
//                domObject.children('img').attr('src','/stat/images/transparent.png');
                domObject.hide();
            }else{
                domObject.show();
                var imageUrl = '';
                if(audio.img != null){
                    imageUrl = audio.img;
                }

                if(imageUrl != '' && domObject){
                    domObject.children('img').attr('src','{{ statdomain }}{{ statpath }}'+imageUrl);
                }else{
                    domObject.children('img').attr('src','{{ imgstaturl }}/webstats/thumb_defaults/default{{ random(15) }}.png');
                }
            }

        }

        function prevAction(e){
            if(currentIndex > 0){
                currentIndex = currentIndex-1;
                renderDetail();
            }


        }

        function nextAction(e){
            if(currentIndex < radioconfig.playlist.length - 1){
                currentIndex = currentIndex+1;
                renderDetail();
            }

        }


        function showLyrics(){
            var currentAudio = radioconfig.playlist[currentIndex];
            var audioId = currentAudio.id;
            var audioTitle = currentAudio.name;
            $.ajax({
                url: "{{ path('web_get_lyrics') }}",
                data: { audioId: audioId},
                dataType: 'json',
                success: function(msg){
                    if(msg.length > 0){
                        var k = msg[0];
                        if(k['lyrics']){
                            $(".lyrics-audio-lyrics").html(k['lyrics']);
                            $('.audio-lyrics').show();
                        }else{
                            toastr['error']('Уучлаарай. Дууны үг олдсонгүй.');
                        }
                    }
                }
            })
        }

        $('.lyrics-close').on('click',function(e){
            $('.audio-lyrics').hide();
        });

        function likeAction(e){
            var currentAudio = radioconfig.playlist[currentIndex];
            var audioId = currentAudio.id;
            if($('.thumb-up').attr('src') == '{{ statresurl }}/stat/images/thumb-up-filled.png'){

                $.ajax({
                    url: "{{ path('web_unlike_content') }}",
                    data: { contentId: audioId,contentType:1},
                    dataType: 'json',
                    success: function(msg){
                        if(msg.status == true){
                            currentAudio.islike = false;
                            $('.thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png');
                            if(currentIndex == radioconfig.playlist.length-1){
                                $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png')
                            }
                        }
                    }
                })

            }else{
                $.ajax({
                    url: "{{ path('web_like_content') }}",
                    data: { contentId: audioId,contentType:1},
                    dataType: 'json',
                    success: function(msg){
                        if(msg.status == true){
                            currentAudio.islike = true;
                            $('.thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up-filled.png');
                            if(currentIndex == radioconfig.playlist.length-1){
                                $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up-filled.png')
                            }
                        }
                    }
                })

            }
        }

        function dislikeAction(e){
            var currentAudio = radioconfig.playlist[currentIndex];
            var audioId = currentAudio.id;
            if($('.thumb-down').attr('src') == '{{ statresurl }}/stat/images/thumb-down-filled.png'){
                $.ajax({
                    url: "{{ path('web_undislike_content') }}",
                    data: { contentId: audioId,contentType:1},
                    dataType: 'json',
                    success: function(msg){
                        if(msg.status == true){
                            currentAudio['dislike'] = false;
                            $('.thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down.png');
                        }
                    }
                })


            }else{
                $.ajax({
                    url: "{{ path('web_dislike_content') }}",
                    data: { contentId: audioId,contentType:1},
                    dataType: 'json',
                    success: function(msg){
                        if(msg.status == true){
                            currentAudio['dislike'] = true;
                            $('.thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down-filled.png');
                            skipAudio();
                        }
                    }
                })

            }
        }

        function showVideo(){
            var currentAudio = radioconfig.playlist[currentIndex];
            var audioId = currentAudio.id;
            if(currentAudio.is_video == true){

                    $.ajax({
                        url: "{{ path('web_get_video_id') }}",
                        data: { audioId: audioId},
                        dataType: 'json',
                        type: 'POST',
                        success: function(msg){
                            if(msg.success == true){
                                $.pjax({
                                    url: msg.videoUrl,
                                    container: '#dynamic-content',
                                    success: function(){

                                    },
                                    timeout: 6000
                                });
                            }
                        }
                    })

            }else{
                toastr['error']('Дууны видео олдсонгүй!');
            }
        }


        function shaf() {
            var currentAudio = radioconfig.playlist[currentIndex];
            var audioId = currentAudio.id;
            var share_url = 'http://music.gogo.mn/share/audio/'+audioId;
            console.log(share_url);
            var left = (screen.width/2)-300;
            var top = (screen.height/2)-250;
            window.open('http://www.facebook.com/sharer/sharer.php?u=' + share_url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=420,width=600,top='+top+',left='+left);return false;
        };

        function shat() {
            var currentAudio = radioconfig.playlist[currentIndex];
            var share_url = 'http://music.gogo.mn';
            var share_txt = '"'+ encodeURIComponent(currentAudio.artist_name) + '-' + encodeURIComponent(currentAudio.name) + '" дууг '+ encodeURIComponent(radioconfig.channel.name) + ' радиогоор сонсож байна.';
            var left = (screen.width/2)-300;
            var top = (screen.height/2)-250;
            window.open('http://twitter.com/intent/tweet?url=' + share_url + '&via=musicgogomn&text=' + share_txt, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=no,height=420,width=600,top='+top+',left='+left);return false;
        };


        function closeDetail(){
            var url = $.cookie('closeradio');

            if (url != null && url != 'undefined'){
                $.pjax({
                    url: url,
                    container: '.dynamic-root-content',
                    success: function(){},
                    timeout: 6000
                });
            }else{
                $.pjax({
                    url: '/',
                    container: '.dynamic-root-content',
                    success: function(){},
                    timeout: 6000
                });
            }


        };

    </script>

{% endblock %}