{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}


{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' with{'menu':1} %}
{% endblock %}


{% block main %}


        <div id="radio-container" class="radio-container">
            {% for genre in genre_list %}
                {% include('musicWebBundle:inc:radio-thumb.html.twig') %}
            {% endfor %}
        </div>
    <script>

        $(document).ready(function () {
            if(radioconfig.channel != null && radioconfig.channel != 'undefined'){
                $('.square-thumb-title').find('img').hide();
                var currentRadioId = radioconfig.channel.id;
                $(".square-thumb-title[radio="+currentRadioId+"]").find('img').show();
            }
        });

        $.cookie('closeradio','{{ path("web_menu_radio") }}');

        window.onunload = function(){
            if(radioconfig.channel != null && radioconfig.channel != 'undefined'){
                $('.square-thumb-title').find('img').hide();
                var currentRadioId = radioconfig.channel.id;
                $(".square-thumb-title[radio="+currentRadioId+"]").find('img').show();
            }
        };

    </script>

{% endblock %}

