{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}


{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' %}
{% endblock %}



{% block main %}

    <style>
        .sub-title{
            text-transform: uppercase;
            font-size: 15px;
            margin-top: 30px;
        }
        h2{
            margin-top: 50px;
        }
        .asuult{
            margin-top: 30px;
            color: #eeeeee;
            font-size: 14px;
        }
        .gray-body{
            color: #7a7a7a;
        }
        .gray-body ul li{
            color: #7a7a7a;
        }
        .attention-body{ color: #c20049;}
    </style>

    <div class="container" style="color: #eeeeee; padding-top: 50px; font-family: RobotoLight, arial, Helvetica; margin-bottom: 40px; padding-left: 40px; padding-right: 40px;">
        <h2>1.	ЕРӨНХИЙ ЗҮЙЛ</h2>
        <p class="gray-body">
            1.1	GoGo Music үйлчилгээг сонгосонд баярлалаа. “Монгол Контент” ХХК нь (цаашид Монгол Контент гэх) GoGo Music үйлчилгээгээ (цаашид GoGo Music эсвэл Үйлчилгээ гэх) шинэ өнгө төрхтэйгээр веб сайт болон ухаалаг төхөөрөмжид зориулан хэрэглэгчиддээ (цаашид Хэрэглэгч гэх) хүргэж байна.
        </p>
        <p class="gray-body">
            1.2	Хэрэглэгч нь үйлчилгээг ашиглахаасаа өмнө үйлчилгээний нөхцөлтэй уншиж танилцсан байх шаардлагатай. Хэрэв дурдсан нөхцөлүүдийг зөвшөөрөхгүй бол үйлчилгээг хэрэглэхээс татгалзахыг зөвлөж байна.
        </p>
        <p class="gray-body">
            1.3	Насанд хүрээгүй хүүхэд эцэг эх, асран халамжлагчийн зөвшөөрөлгүйгээр үйлчилгээг ашигласнаар гарах үр дагаврыг эцэг эх асран хамгаалагч нь хариуцна.
        </p>
        <p class="gray-body">
            1.4	Хэрэглэгчийн үйлчилгээнд бүртгүүлсэн бүртгэл мэдээлэл нь үнэн зөв, бүрэн гүйцэд гэдэг баталгааг хэрэглэгч гаргана.
        </p>

        <h2>2.	ҮЙЛЧИЛГЭЭНИЙ НӨХЦӨЛД ӨӨРЧЛӨЛТ ОРУУЛАХ</h2>
        <p class="gray-body">
            2.1	Монгол Контент нь бүтээгдэхүүн үйлчилгээгээ сайжруулах зорилгоор үйлчилгээний нөхцөлд урьдчилан мэдэгдэлгүйгээр өөрчлөлт оруулах бүрэн эрхтэй. Өөрчлөлтүүд нь үйлчилгээнд нэвтрүүлсэн мөчөөс хүчин төгөлдөр үйлчилнэ. Хэрэглэгч нь үйлчилгээний нөхцөлд орсон өөрчлөлтийг нийтлэгдсэнээс хойш хэрэглэвэл хүлээн зөвшөөрсөнд тооцогдоно.
        </p>

        <h2>3.	ҮЙЛЧИЛГЭЭ</h2>
        <p class="gray-body">
            3.1	Хэрэглэгч нь үйлчилгээнд бүртгүүлснээр GoGo Music үйлчилгээг үнэ төлбөргүй ашиглах боломжтой.
        </p>

        <h2>4.	ЛИЦЕНЗ</h2>
        <p class="gray-body">
            4.1	GoGo Music үйлчилгээ нь Эрх эзэмшигчдийн бүтээлийг “Дуу Бичлэг Бүтээгчдийн Үндэсний Төв”, “Монголын Зохиолч, Хөгжмийн Зохиолч, Нийтлэгчдийн Нийгэмлэг” болон бусад эрх эзэмшигч нартай байгуулсан гэрээ, зөвшөөрлийн үндсэн дээр үйлчилгээндээ ашиглах бөгөөд Хэрэглэгч нь үйлчилгээний аливаа контентыг зөвхөн хувийн хэрэгцээндээ, арилжааны бус зорилгоор ашиглах эрхтэй.
        </p>

        <p class="gray-body">
            4.2	GoGo Music үйлчилгээний програм хангамж, аппликэйшн нь Монгол Контентын өмчлөлд байх бөгөөд хэрэглэгчийн төхөөрөмж дээр суусны дараа ч Монгол Контентын өмчлөлд хэвээр байна.
        </p>


        <p class="gray-body">
            4.3	Үйлчилгээнд агуулагдсан Монгол Контент-д харъяалагдах бүх үйлчилгээ, бүтээгдэхүүний барааны тэмдэгт, лого, домайн нэрүүд нь тус компаний өмчид тооцогдоно.
        </p>


        <h2>5.	ОЮУНЫ ӨМЧ</h2>
        <p class="gray-body">
            5.1	Үйлчилгээнд агуулагдаж буй текст, дуу авиа, график зураг, лого, фото, видео болон бусад бүх контентууд нь Монгол Улсын холбогдох хууль тогтоомжийн дагуу оюуны өмчийн эрхийн хамгаалалтаар баталгаажсан болно.
        </p>


        <h2>6.	ГУРАВДАГЧ ЭТГЭЭДИЙН ҮЙЛЧИЛГЭЭ</h2>
        <p class="gray-body">
            6.1	GoGo Music нь гуравдагч этгээдийн бүтээгдэхүүн үйлчилгээ, аппликэйшнийг хэрэглэж болох ба хэрэглэгч энэхүү гуравдагч этгээдийн үйлчилгээг үйлчилгээний нөхцөлийн дагуу ашиглана.
        </p>

        <p class="gray-body">
            6.2	Гуравдагч этгээдийн үйлчилгээний онцлог, үйл ажиллагааны өмнөөс GoGo Music үйлчилгээ нь үүрэг, хариуцлага хүлээхгүй.
        </p>


        <h2>7.	ТЕХНОЛОГИЙН ХЯЗГААРЛАЛТ БА ӨӨРЧЛӨЛТ</h2>
        <p class="gray-body">
            7.1	Монгол Контент нь ямар ч үед үйлчилгээний функц болон үйлдлийг түр болон бүр мөсөн өөрчлөх эсвэл зогсоох эрхтэй.
        </p>

        <p class="gray-body">
            7.2	Үйлчилгээ бүхэлд нь болон зарим нэг функц үйлдлийг урьдчилан мэдэгдэх болон мэдэгдэлгүйгээр тасалдуулах, өөрчлөлт хийх, зогсоосноос гарах хариуцлагыг хүлээхгүй.
        </p>

        <h2>8.	СИСТЕМИЙН АЮУЛГҮЙ БАЙДАЛ</h2>
        <p class="gray-body">
            8.1	Монгол Контент нь үйлчилгээний хэвийн үйл ажиллагаа, аюулгүй байдал, хэрэглэгчдийн мэдээллийн нууцлалыг бүрэн хариуцна.
        </p>

        <h2>9.	СУРТАЛЧИЛГАА</h2>
        <p class="gray-body">
            9.1	Үйлчилгээ нь арилжааны зорилгоор сурталчилгаа байршуулах эрхтэй.
        </p>

        <p class="gray-body">
            9.2	Үйлчилгээнд байршуулсан сурталчлуулагч байгууллагын зар сурталчилгаатай холбоотой хэрэглэгч болон сурталчлуулагч байгууллагын хооронд үүссэн аливаа маргаан, үл ойлголцолд GoGo Music хариуцлага хүлээхгүй.
        </p>


        <h2>10.	МАРГААН ШИЙДВЭРЛЭХ</h2>
        <p class="gray-body">
            10.1	Хэрэв үйлчилгээг зориулалтын бусаар ашиглах, энэхүү үйлчилгээний нөхцөлийг  зөрчсөн тохиолдолд Монгол Контент нь хэрэглэгчийг үйлчилгээг ашиглах эрхийг хориглох, хязгаарлах болон хэрэглэгчийн эсрэг хуулийн дагуу арга хэмжээ авах бүрэн эрхтэй байна.
        </p>


        <h2>11.	ХЭРЭГЛЭГЧИЙН ЗААВАР</h2>
        <p class="gray-body">
            11.1	GoGo Music нь Оюуны өмчийг дээдлэн хүндэлдэг тул таныг ч бас хүндэтгэн үзнэ гэдэгт итгэж байна. GoGo Music үйлчилгээ нь доорх үйлдлийг хориглоно.<br>
        <ul style="color: #7a7a7a;">
            <li>Бүтээлийг хуулбарлах;</li>
            <li>Үйлчилгээг ашиглах нууц үгээ бусад этгээдэд өгөх, эсвэл өөр хэрэглэгчийн нэр болон нууц үг ашиглах;</li>
            <li>Автоматжуулсан төхөөрөмж, тусгай програм ашиглан зөвшөөрөлгүйгээр үйлчилгээ болон түүний системийг хянах, нэвтрэх болон бусад хууль бус оролдлого хийх;</li>
            <li>Үйлчилгээнд бүртгүүлэх болон үйлчилгээнд сэтгэгдэл оруулахдаа бусдыг доромжилсон, нэр хүндийг гутаасан, хүчирхийлэл, порнограф болон ёс суртахуунгүй хэрэглэгчийн нэр, бичлэг ашиглах;</li>
            <li>Хууль бус зүйлд бусдыг уриалах, оюуны өмч, хувийн нууц болон үйлчилгээ, гуравдагч этгээдийн өмчлөлд халдах;</li>
            <li>Реклам сурталчилгаа, уралдаан, сүлжээний бизнес зэрэг арилжаа борлуулалтын үйл ажиллагаа бүхий мэдээлэл оруулах;</li>
            <li>Үйлчилгээний аюулгүй байдалд саад учруулах;</li>
            <li>Үйлчилгээний нөхцөлийг зөрчих;</li>
        </ul>
        </p>
        <p class="gray-body">
            11.2	Хэрэглэгч дээрх шалтгааны аль нэгийг зөрчсөн тохиолдолд GoGo Music үйлчилгээ нь хэрэглэгчийн нэр, бүртгэлийг устгах бүрэн эрхтэй.
        </p>

        <p class="gray-body">
            11.3	GoGo Music нь олон нийтийн сүлжээтэй холбогдсон тохиргоотой бөгөөд контентыг түгээх, хэрэглэгчийн бичлэг, бүртгэлийн тохиргоонд заасан мэдээллийг түгээх боломжтой.
        </p>
        <p class="gray-body">
            11.4	Бусдад түгээгдсэн болон олон нийтэд ил мэдээллийг бусад хэрэглэгч дахин түгээх боломжтой.
        </p>

        <script>
            introJs().start();
        </script>

    </div>
{% endblock %}