{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}

{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' with{'menu':2} %}
{% endblock %}

{% block main %}
    {#<div class="home-title">#}
        {#Видео#}
    {#</div>#}
<div class="video-container">

    <div id="texttab" class="texttab">
        <ul style="margin-right: 10px;">
            <a href="{{ path('web_menu_video', {'order': 'new'}) }}" class="pjx-url {% if video_order =='new' %}selected{%endif%}" data-content="new">Шинэ</a>
            <a data-content="view" class="pjx-url {% if video_order =='view' %}selected{%endif%}" href="{{ path('web_menu_video', {'order': 'view'}) }}" >Санал болгох</a>
        </ul>
    </div>
    <div id="video-grid-container">
        {% for video in videos %}
            {% include 'musicWebBundle:template:simple-grid.html.twig' with { 'grid_href': video.href, 'grid_pjax': true, 'grid_img': video.img, 'grid_title': video.artist, 'grid_text': video.name } %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>


{% verbatim %}
<script type="text/x-tmpl" id="simple-grid-video-tmpl">
    <div class="simple-grid video-grid">
        <a href="{%#o.href%}" class="pjx-url" style="display: block;color: #000;text-decoration: initial;">
            <div class="simple-grid-head">
                <img src="{%#o.img %}" style="width: 100%;" />
                <div class="play-cover"></div>
            </div>
            <div class="simple-grid-body">
                <div class="simple-grid-title">
                <b>{%=o.name %}</b><br>
                    {%=o.artist %}
                </div>
            </div>
        </a>
    </div>
</script>
{% endverbatim %}

<script>
    tsetsee_video.init({
        page: {{ video_config.page }},
        pagesize: {{ video_config.pagesize }},
        dataUrl: '{{ path('web_menu_video_get') }}',
        orderBy: $("#texttab > .selected").data("content"),
        templateId: 'simple-grid-video-tmpl'
    });

    $.cookie('closeradio','{{ path("web_menu_video") }}');

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            tsetsee_video.loadNext();
        }
    });

</script>
{% endblock %}
