{% extends app.request.xmlHttpRequest ? 'musicWebBundle:layout:layout-ajax.html.twig':"musicWebBundle:layout:layout.html.twig" %}

{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    4:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' with{'menu':2} %}
{% endblock %}

{% block main %}
    <div style="margin-top: 40px; position: relative;padding: 0;" class="container">
        <div style="margin-bottom: 30px;">
            <div id="texttab" class="texttab">
                <ul>
                    <a href="javascript:void(0)" class="selected" data-content="new">Шинэ</a>
                    <a data-content="view" class="" href="javascript:void(0)" >Санал болгох</a>
                </ul>
            </div>

        </div>
        <div style="margin-right: 324px; margin-left: 0; color: #7a7a7a; background-color: #f3f3f3; min-height: 1020px;padding-bottom: 50px;">
            <div class="yt-container" style="margin-bottom: 25px; width: 100%;">
                <iframe id="ytplayer" width="640" height="390"
                        src="https://www.youtube.com/embed/{{ video.videoUrl }}?autoplay=1;controls=2;amp;showinfo=0;rel=0"
                        frameborder="0"></iframe>


            </div>
            <div style="margin-left: 30px;">

                {% if video.artist is defined and video.artist %}
                <h3>{{ video.artist }} - {{ video.name }}</h3>
                {% else %}
                <h3>{{ video.name }}</h3>
                {% endif %}

                <div style="margin-top: 20px;font-family:OpenSans; font-size: 12px;">

                    <div style="margin-bottom: 36px;">
                    <span id="video-detail" class="video-detail" data-id="{{ video.id }}">



                        <a href="javascript:void(0)" onclick="toggleLike(this)" style="margin-right: 5px;" title="Таалагдлаа">
                            <img src="{% if video_liked is defined and video_liked %}{{ statresurl }}/stat/images/gray-thumb-up.png{% else %}{{ statresurl }}/stat/images/gray-thumb-up.png{% endif %}" alt=""/>
                        </a>
                        <span class="like_count">{{ video.like_count }}</span>

                        {#<a href="javascript:void(0)" onclick="toggleDislike(this)" style="margin-right: 5px;" title="Таалагдахгүй байна">#}
                            {#<img src="{% if video_disliked is defined and video_liked %}/stat/images/gray-thumb-down.png{% else %}{{ statresurl }}/stat/images/gray-thumb-down.png{% endif %}" alt=""/>#}
                        {#</a>#}
                        {#<span class="like_count">{{ video.like_count }}</span>#}

                        <span style="margin-left: 10px;margin-right: 10px;" title="{{'Сэтгэгдэл бичсэн'|trans}}"><img src="{{ statresurl }}/stat/images/gray-comment.png" alt=""/> <span
                                    class="comment_count"></span>
                        </span><img src="{{ statresurl }}/stat/images/gray-eye.png" alt=""/>  <span
                                class="view_count">{{ video.view+0 }}
                        </span>
                    </span>
                        <script>
                            $(document).ready(function(){
                                $("#videocomment").on('comment:change_count', function(event, count){
                                    $("#video-detail .comment_count").html(count);
                                });
                            });
                        </script>
                        <div class="pull-right">

                            <a class="twitter-share" href="javascript:void(0)" onclick="shareTwt()" data-share-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-share-text="{{ video.artist }} - {{ video.name }}" style="margin-right: 20px;" title="{{'Tвиттерээр түгээх'|trans}}"><span class="gogo-icon gogo-icon-gray-twitter"></span></a>
                            <a class="facebook-share" href="javascript:void(0)" onclick="shareFb()" data-share-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" style="margin-right: 20px;" title="{{'Фэйсбүүкээр түгээх'|trans}}"><span class="gogo-icon gogo-icon-gray-fb"></span></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div style="font-size: 14px;">
                        {{ video.descr }}
                    </div>
                    {% include 'musicWebBundle:inc:comment.html.twig' with {'commentbox_id': 'videocomment'} %}
                </div>
            </div>
        </div>

        <div style="position: absolute; width: 300px; top:60px; right: 0;">
            {#<a href="https://www.yolo.mn" target="_blank" class="video-detail-banner" style="width: 300px; height: 300px; margin-bottom: 20px;">#}
                {#<img src="{{ statresurl }}/stat/images/banner.jpg" style="width: 100%; height: 100%;" alt="">#}
            {#</a>#}
            <div class="gg_ban_div video-detail-banner" style="margin-bottom: 12px;text-align: center; width: 140px;height: 360px;" gg_ban_width="300" gg_ban_height="300" gg_ban_id="musicvideoplayer"></div>
            <div class="rightcol"
                 style="float: left; width: 300px; margin-bottom:120px;background-color: #f3f3f3;padding: 28px 18px; height: 700px; overflow: scroll;">



                <div id="video-grid-container">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            {% include 'musicWebBundle:template:small-grid-tmpl.html.twig' %}
        </div>

        <script>

            $(document).ready(function(){
                pauseTrack();

                $.getScript("http://bnn.gogo.mn/bn/bn.js?" + $.map($(".gg_ban_div:visible"), function (el) {
                            return "htmlids[]=" + $(el).attr("gg_ban_id");
                        }).join("&"), function () {
                    $(document).ready(function () {
                        GoGoBanner.buildbanners();
                    });
                });

            });
            var toggleLike = (function () {
                var waiting = false;

                return function (el) {
                    if (waiting) return;
                    waiting = true;
                    $.ajax({
                        url: "{{ path('web_menu_video_toggle_like', {'id': video.id}) }}",
                        type: "POST",
                        dataType: "json",
                        success: function (response) {
                            if (response.logged) {
                                $("#video-detail .like_count").html(response.totallike);
                            } else {
                                $(".login-modal-lg").modal("show");
                            }
                            waiting = false;
                        }
                    }).fail(function () {
                        waiting = false;
                    });

                };
            })();

            tsetsee_video.init({
                page: 1,
                pagesize: 10,
                dataUrl: '{{ path('web_menu_video_get') }}',
                orderBy: $("#texttab .selected").data('content'),
                templateId: 'small-grid-tmpl'
            });

            tsetsee_video.loadData();

            $("#texttab a").click(function(){
                $("#video-grid-container .small-grid").remove();
                $(this).addClass('selected').siblings('a').removeClass('selected');
                tsetsee_video.updateConfig({
                    page: 1,
                    pagesize: 10,
                    dataUrl: '{{ path('web_menu_video_get') }}',
                    orderBy: $("#texttab .selected").data('content'),
                    templateId: 'small-grid-tmpl'
                });
                tsetsee_video.loadData();
            });

            $('.rightcol').scroll(function () {
                console.log($(this).scrollTop() + $(this).innerHeight());
                console.log(this.scrollHeight);
                if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
                    console.log("scroll tugsgul");
                    tsetsee_video.loadNext();
                }
            });
            $.cookie('closeradio','{{ path("web_menu_video_info", {'id': video.id}) }}');



            function shareFb() {
                var share_url = 'http://music.gogo.mn'+$('.facebook-share').attr('data-share-url');
                console.log(share_url);
                var left = (screen.width/2)-300;
                var top = (screen.height/2)-250;
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + share_url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=420,width=600,top='+top+',left='+left);return false;
            };

            function shareTwt() {
                var share_url = 'http://music.gogo.mn'+$('.twitter-share').attr('data-share-url');
                var share_txt = $('.twitter-share').attr('data-share-text');
                console.log(share_url);
                var left = (screen.width/2)-300;
                var top = (screen.height/2)-250;
                window.open('https://twitter.com/share?url=' + share_url + '&via=musicgogomn&text=' + share_txt, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=no,height=420,width=600,top='+top+',left='+left);return false;
            };

        </script>
    </div>
{% endblock %}
