{% extends "musicCmsBundle:layout:base.html.twig" %}
 {% block titlecont %} <h1>Playlist</h1>{% endblock %}
{% block body -%}

    <h3>"{{ playlist }}" playlist-н дуунууд</h3>

    {{ form(form) }}

    <table class="records_list">
        <thead>
            <tr>
                <th>Дуу ID</th>
                <th>Дуу зураг</th>
                <th>Дуу нэр</th>
                <th>Дуучин нэр</th>
                <th>Нийтлэх огноо</th>

            </tr>
        </thead>
        <tbody>
        {% for plist in playlistaudios %}
            <tr>
                <td>{{ plist.audio.id }}</td>
                <td>
                    {% if plist.audio.img %}
                        <img style="border: 1px solid #ddd;max-height: 50px;" src="{{ imgstaturl }}{{ plist.audio.img }}"/>
                    {% endif %}
                </td>
                <td>{{ plist.audio.name }}</td>
                <td>{{ plist.audio.artist_name }}</td>
                <td class="date"
                        {%if  plist.audio.publish_date %}
                            {% if  plist.audio.publish_date  > date() %}
                                style="background: #95CDFF;" title="Ирээдүйд нийтлэгдэх"
                            {% endif %}
                        {%else%}
                            style="background: #fec7c7;" title="Нийтлэх хугацаа тохируулаагүй"
                        {%endif%}
                        >
                    {% if  plist.audio.publish_date %}
                        {{  plist.audio.publish_date|date('Y-m-d H:i:s') }}
                    {% endif %}

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('playlist') }}" class="btn btn-info">
        Жагсаалтлуу буцах
    </a>
    {% endblock %}
