{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PlaylistAudio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Audio_orders</th>
                <td>{{ entity.audioorders }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('playlistaudio') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
