<div>
    <ul>
        {#<li onclick="showLyrics()">#}
            {#<div class="detail-item detail-lyrics">#}
            {#</div>#}
        {#</li>#}
        {#<li>#}
            {#<div class="detail-item detail-hitone">#}
            {#</div>#}
        {#</li>#}
        {#<li onclick="showVideo()">#}
            {#<div class="detail-item detail-video">#}
            {#</div>#}
        {#</li>#}
        {#<li>#}
            {#<div class="detail-item detail-contact">#}
            {#</div>#}
        {#</li>#}
    </ul>

    <ul class="share-container">
        <li onclick="showVideo()" title="Видео үзэх">
            <div class="detail-item detail-video">
            </div>
        </li><!--
        --><li onclick="shaf()" title="Хуваалцах">
            <div class="detail-item detail-facebook">
            </div>
        </li><!--
        --><li onclick="shat()" title="Хуваалцах">
            <div class="detail-item detail-twitter">
            </div>
        </li>
    </ul>
</div>