{% if comment_path is not defined %}
    {% set comment_path = app.request.pathInfo %}
{% endif %}

<div id="{{ commentbox_id }}" data-path="{{ comment_path }}" class="commentbox">
    <div class="commentbox-head">
        <span class="commentbox-title">СЭТГЭГДЛҮҮД</span> <span class="taslavch"></span> <span class="commentbox-count"></span>
    </div>
    <div class="commentbox-body">
        {% if app.user %}
            <div class="comment comment-input">
                <div class="comment-avatar"><img src="{{ app.user.userImageUrl }}"/></div>
                <div class="comment-content">
                    <div class="comment-content-body">
                        <textarea class="sendbox"></textarea>
                        <button class="sendbtn">GO</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% else %}
            <div class="comment">
                <a href="javascript:void(0)" onclick="$('.login-modal-lg').modal('show');">Сэтгэгдэл бичихийн тулд
                    нэвтэрнэ үү!</a>
            </div>
        {% endif %}
        <div class="comment-list">

        </div>
    </div>
</div>
{% include 'musicWebBundle:template:comment-tmpl.html.twig' %}
<script type="text/javascript">

    $(document).ready(function () {
        var cf = new CommentFactory();
        cf.init({
            id: "{{ commentbox_id }}",
            putUrl: "{{ path('web_comment_put') }}",
            getUrl: "{{ path('web_comment_get') }}",
            {% if app.user %}
            loginName: '{{ app.user.firstName }}',
            isPremium: '{{ app.user.isPremium }}',
            userImageUrl: '{{ app.user.userImageUrl }}',
            logged: true
            {% else %}
            logged: false
            {% endif %}
        });

        $(".sendbox").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                $(".sendbtn").trigger('click');
                return true;
            }
        });

    });
</script>