<div class="radio-channel square-thumb" data-channel="{{ genre.id }}" {% if is_granted('ROLE_USER') %} onclick="playThisRadio(event)" {% else %} onclick="saveRadio(event)" data-toggle="modal" data-target=".login-modal-lg" {% endif %}>
    {% if is_granted('ROLE_USER') %}<a class="pjx-url" href="{{ path('web_menu_radio_detail') }}">{% endif %}
    <div class="square-thumb-head">
        {% if genre.img %}
            <img class="radio-thumb-back absolute-cover" src="{{ imgstaturl }}{{ genre.img }}"/>
        {% else %}
            <img class="radio-thumb-back absolute-cover" src="{{ imgstaturl }}/webstats/thumb_defaults/default{{ random(15) }}.png" alt="">
        {% endif %}
        <div class="absolute-cover" style="background-color: rgba(28,17,40,0.5)"></div>
        <img class="radio-thumb-icon absolute-cover" src="{{ imgstaturl }}{{ genre.icon }}" alt="">
        <img class="radio-thumb-play" src="{{ statresurl }}/stat/images/thumb-play-icon.png" alt="">
    </div>
    <div class="square-thumb-body">
        <div class="square-thumb-title" radio="{{ genre.id }}">
            <img src="{{ statresurl }}/stat/images/playload2anim.gif" loop=infinite style="width: 20px; height: auto; display: none">  {{ genre.name }}
        </div>
    </div>
        {% if is_granted('ROLE_USER') %}</a>{% endif %}
</div>