{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block titlecont %} <h1>AudioArtist list</h1> {% endblock %}
{% block body -%}


    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('audio_art_add', {'id':audio.id}) }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Order</th>
            <th>Дуучны нэр</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in artistaudios %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.order }}</td>
                <td>{{ entity.artist.name }}</td>
                <td>
                            <form method="POST" action="{{ path('audio_art_remove', { 'id': entity.id }) }}" style="padding:0;">
                                <button type="submit" class="btn btn-danger" class = "input-">Remove</button>
                            </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}