{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?sdfs
{% endblock %}

{% block body -%}
  <h2>  Дууны нэр: {{ audioname }}</h2>
{{ form(form) }}


        <script type="text/javascript">
            $(document).ready(function() {
                $("#{{ form.artistids.vars.id }}").tokenInput('{{ path('artist_getdata') }}',{
                    prePopulate: [{% for albumart in audarts %}
                        {
                            id: {{ albumart.artist.id }}, name: '{{ albumart.artist.name }}'
                        },
                        {% endfor %}],
                    preventDuplicates:true
                }
                );
            });
        </script>
{% endblock %}

