{% extends "musicCmsBundle:layout:base.html.twig" %}

{% block body -%}
    <h1>AudioArtist</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ entity.order }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('audioartist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('audioartist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
