{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Видео
{% endblock %}


{% block body -%}
    <h1>Видео засах</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('video') }}" class="btn btn-info">
            Жагсаалтлуу буцах
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
