{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Видео
{% endblock %}

{% block body -%}
    <h1>Видео жагсаалт</h1>
    <a href="{{ path('video_new') }}" class="btn btn-success">Шинээр үүсгэх</a>
    <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{%endif%}" id="searchpad">
        {% include 'musicCmsBundle:Video:search.html.twig' %}
    </fieldset>

    {% include 'musicCmsBundle:Video:page.html.twig' %}

    <br> <br>
    <table class="records_list">
        <thead>
            <tr>
                <th>Д/д</th>
                <th>Зураг</th>
                <th>Нэр</th>
                <th>Нийтлэх огноо</th>
                <th>Засвар</th>
                <th>Дуунууд</th>
                <th>Уран бүтээлчид</th>
                <th>Видео ID</th>
                <th>Like тоолуур</th>
                <th>Үзсэн</th>
                <th>Үүссэн огноо</th>
                <th>Зассан огноо</th>


            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>   {% if entity.img %}
                        <img style="border: 1px solid #ddd;max-height: 80px;" src="{{entity.img}}" />
                    {% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.publish_date %}{{ entity.publish_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('video_edit', { 'id': entity.id }) }}" class="btn btn-default">Засах</a></td>
                <td><a href="{{ path('video_audio', { 'id': entity.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-music"></i> <span class="badge">{{ entity.videocount }}</span></a></td>
                <td><a href="{{ path('video_art_add', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-smile"></i><i class="icon-microphone"></i> <span class="badge">{{ entity.artistcount }}</span></a></td>
                <td>{{ entity.artist }}</td>
                <td>{{ entity.videoUrl }}</td>
                <td>{{ entity.like_count }}</td>
                <td>{{ entity.view }}</td>
                <td>{% if entity.created_date %}{{ entity.created_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated_date %}{{ entity.updated_date|date('Y-m-d H:i:s') }}{% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        if(window.location.search!=''){
            $.each($('.pagination a'),function(key,val){
                $(this).attr('href',$(this).attr('href')+window.location.search);
            })
        }
        $('#searchlink').click(function(){
            $('#searchpad').toggle();
        });
    </script>
    {% endblock %}
