{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Видео
{% endblock %}


{% block body -%}
    <h1>Видео үүс</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('video') }}" class="btn btn-info">
             Жагсаалтлуу буцах
        </a>
    </li>
</ul>
{% endblock %}
