{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Видео
{% endblock %}


{% block body -%}




    <h1>{% if entity.img %}
            <img style="border: 1px solid #ddd;max-height: 80px;" src="{{entity.img}}" />
        {% endif %}

        {{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Видео ID</th>
                <td>{{ entity.videoUrl }}</td>
            </tr>
            <tr>
                <th>Like тоолуур</th>
                <td>{{ entity.like_count }}</td>
            </tr>
            <tr>
                <th>Үүссэн огноо</th>
                <td>{{ entity.created_date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Зассан огноо</th>
                <td>{{ entity.updated_date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Нийтэлсэн огноо</th>
                <td>{{ entity.publish_date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('video') }}" class="btn btn-info">
            Жагсаалтлуу буцах
        </a>
    </li>
    <li>
        <a href="{{ path('video_edit', { 'id': entity.id }) }}" class="btn btn-success">
            Засах
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
