{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?
{% endblock %}

{% block body -%}
    <h1> Дуунууд</h1>


    <table class="records_list">
        <thead>
        <tr>
            <th>Дуу ID</th>
            <th>Дуу зураг</th>
            <th>Дуу нэр</th>
            <th>Дуучин нэр</th>
            <th>Нийтлэх огноо</th>
        </tr>
        </thead>
        <tbody id="sortable">
        {% for plist in albumaudios %}

            <tr class="ui-state-default" audioid="{{ plist.id }}">
                <td>{{ plist.audio.id }}</td>
                <td>
                    {% if plist.audio.img %}
                        <img style="border: 1px solid #ddd;max-height: 50px;"
                             src="{{ imgstaturl }}{{ plist.audio.img }}"/>
                    {% endif %}
                </td>


                <td>{{ plist.audio.name }}</td>
                <td>{{ plist.audio.artist_name }}</td>
                <td class="date"
                        {% if  plist.audio.publish_date %}
                            {% if  plist.audio.publish_date  > date() %}
                                style="background: #95CDFF;" title="Ирээдүйд нийтлэгдэх"
                            {% endif %}
                        {% else %}
                            style="background: #fec7c7;" title="Нийтлэх хугацаа тохируулаагүй"
                        {% endif %}
                        >
                    {% if  plist.audio.publish_date %}
                        {{ plist.audio.publish_date|date('Y-m-d H:i:s') }}
                    {% endif %}

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('album') }}" class="btn btn-info">
        Жагсаалтлуу буцах
    </a>
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
        }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 18px;
        }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }
    </style>
    <script>
        $(function () {
            $("#sortable").sortable({
                stop: function () {
                    $.ajax({
                        url: '{{ path('audio_order_change', {'id': album.id })}}',
                        type: 'POST',
                        data: {
                            ids: $.map($(".records_list>tbody>tr"), function (val) {
                                return $(val).attr('audioid');
                            })

                        }
                    }).done(function () {
                        $(this).addClass("done");
                    });
                }
            });
            $("#sortable").disableSelection();
        });
    </script>
{% endblock %}
