{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?
{% endblock %}

{% block body -%}
    <h1>Цомог нэмэх хэсэг</h1>


    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('album_audio_add', {'id':entity.id}) }}">
                Шинээр нэмэх
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Order</th>
            <th>Цомог нэр</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for audioalbum in entity.audioalbums %}
            <tr>
                <td>{{ audioalbum.id }}</td>
                <td>{{ audioalbum.order }}</td>
                <td>{{ audioalbum.album.name }}</td>
                <td>
                    <ul>
                        <li>
                            <form method="POST" action="{{ path('album_audio_remove', { 'id': audioalbum.id,  }) }}" style="padding:0;">
                                <button type="submit" class="btn btn-danger" class = "input-">Устгах</button>
                            </form>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
