{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?
{% endblock %}

{% block body -%}
    <h1> Цомог нэмэх</h1>
    {{ form(form) }}


    <br>
    <table class="table">
        <thead>
        <tr>
            <td>Д/д</td>
            <td>Албум id</td>
            <td>Устгах</td>
        </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for entity in audioid %}
            {% set i =i +1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ entity.album.id }}</td>
                <td><a href="{{ path('album_audio_remove', {'id':entity.id}) }}" class="btn btn-danger">Устгах</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#{{ form.albumids.vars.id }}").tokenInput('{{ path('album_getdata') }}', {
                prePopulate: [
                    {% for albumart in albumarts %}
                    {
                        id: {{ albumart.album.id }}, name: '{{ albumart.album.name }} /{{ albumart.album.id }}/'
                    },
                    {% endfor %}
                ],
                preventDuplicates: true
            });
        });
    </script>
{% endblock %}
