<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}GoGo Music CMS{% endblock %}</title>

    <script src="/bundles/gogocms/js/jquery-1.10.2.min.js" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="/bundles/gogocms/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="/bundles/gogocms/fontawesome/css/font-awesome.min.css">
    <script src="/bundles/gogocms/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="/bundles/gogocms/css/main.css">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

    <script src="/bundles/gogocms/js/ckeditor/ckeditor.js" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="/bundles/gogocms/js/tip/styles/tinyTips.css">
    <script src="/bundles/gogocms/js/tip/jquery.tinyTips.js" type="text/javascript"></script>
    <script src="/bundles/gogocms/js/masonry.pkgd.min.js" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="/bundles/gogocms/js/jqueryui/ui-lightness/jquery-ui-1.10.3.custom.min.css">
    <script src="/bundles/gogocms/js/jqueryui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="/bundles/gogocms/datetimepicker/jquery.datetimepicker.css">
    <script src="/bundles/gogocms/datetimepicker/jquery.datetimepicker.js" type="text/javascript"></script>

    <script type="text/javascript" src="/stat/jQueryTokenInput/src/jquery.tokeninput.js"></script>

    <script type="text/javascript" src="/bundles/gogocms/js/common.js"></script>

    <link rel="stylesheet" href="/stat/jQueryTokenInput/styles/token-input.css" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function() {
            $("input[type=button]").click(function () {
                alert("Would submit: " + $(this).siblings("input[type=text]").val());
            });
        });
    </script>


    {%block headhtml%}{%endblock%}
</head>
