<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}GoGo Music CMS{% endblock %}</title>

        <script src="/bundles/gogocms/js/jquery-1.10.2.min.js" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="/bundles/gogocms/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="/bundles/gogocms/fontawesome/css/font-awesome.min.css">
        <script src="/bundles/gogocms/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="/bundles/gogocms/css/main.css">
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        <script src="/bundles/gogocms/js/ckeditor/ckeditor.js" type="text/javascript"></script>
        
        <link rel="stylesheet" media="screen" href="/bundles/gogocms/js/tip/styles/tinyTips.css">
        <script src="/bundles/gogocms/js/tip/jquery.tinyTips.js" type="text/javascript"></script>
        <script src="/bundles/gogocms/js/masonry.pkgd.min.js" type="text/javascript"></script>
        
        <link rel="stylesheet" media="screen" href="/bundles/gogocms/js/jqueryui/ui-lightness/jquery-ui-1.10.3.custom.min.css">
        <script src="/bundles/gogocms/js/jqueryui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="/bundles/gogocms/datetimepicker/jquery.datetimepicker.css">
        <script src="/bundles/gogocms/datetimepicker/jquery.datetimepicker.js" type="text/javascript"></script>

        <script type="text/javascript" src="/stat/jQueryTokenInput/src/jquery.tokeninput.js"></script>

        <script type="text/javascript" src="/bundles/gogocms/js/common.js"></script>

        <link rel="stylesheet" href="/stat/jQueryTokenInput/styles/token-input.css" type="text/css" />

        <script src="/stat/js/player/mediaelement-and-player.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/stat/css/player/mediaelementplayer.min.css" type="text/css" />

        <script type="text/javascript">
            $(document).ready(function() {
                $("input[type=button]").click(function () {
                    alert("Would submit: " + $(this).siblings("input[type=text]").val());
                });
            });
        </script>


		{%block headhtml%}{%endblock%}
    </head>
    <body>
        <header role="banner" id="top" class="navbar navbar-inverse navbar-static-top bs-docs-nav">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('cms_root_welcome') }}">CMS</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    {% include 'musicCmsBundle:layout:nav.html.twig' %}
                </nav>
            </div>
        </header>

        <div class="container" style="margin-top: 20px;{% if app.request.locale=='en' %}background:#00438a;{% endif %}">

            <div class="content">

                <div class="page-header" {% if app.request.locale=='en' %}style="background:#00438a;color: white;"{% endif %}>
                    {% block titlecont %}{% endblock %}
                </div>

                <div class="row">
                    <div class="">
                        {% block body %}
                          {{ username  }}
                        {% endblock %}
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>

                <footer {% if app.request.locale=='en' %}style="color:white;"{% endif %}>
                    <p>
                        <a target="_blank" href="http://music.gogo.mn">music.gogo.mn</a>
                    </p>
                    <p>
                        Server datetime: {{ "now"|date('Y-m-d H:i e') }}
                    </p>
                    {%if memory_limit is defined%}
                    <p>
                        Memory limit: {{memory_limit}}
                    </p>
                    {%endif%}
                    {%if upload_max is defined%}
                    <p>
                        Upload max: {{upload_max}}
                    </p>
                    {%endif%}
                    <p>
                        Your ip: {{ app.request.clientip }}
                    </p>
                    {%if serverip is defined%}
                    <p>
                        S: {{serverip|replace({'31.31.31.':'','.0.1':''})}}
                    </p>
                    {%endif%}
                </footer>
            </div>
        </body>
    </html>
