
<ul class="nav navbar-nav">

    {% if is_granted('ROLE_ADMIN') %}
        <li class="btn-group">
            <a href="{{ path('user') }}">Бүртгүүлсэн хэрэглэгч</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('studio') }}">Студи</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('artist') }}">Дуучин</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('album') }}">Цомог</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('audio') }}">Дуу</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('audiobanner') }}">Баннер</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('video') }}">Видео</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('genre') }}">Жанр</a>
        </li>
        <li class="btn-group">
            <a href="{{ path('playlist') }}">Playlist</a>
        </li>

    {% else %}
        <li class="btn-group">
            <a href="/login">Login хуудас</a>
        </li>
    {% endif %}
</ul>
{% if is_granted('ROLE_ADMIN') %}
<ul class="nav navbar-nav navbar-right">
    <li class="btn-group">
        <a href="/logout"> {{ app.user.username }} ГАРАХ</a>
    </li>
</ul>
{% endif %}








