{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
   Цомог хэсэг
{% endblock %}

{% block body -%}
    <h1> Цомог жагсаалт</h1>
    <a href="{{ path('album_new') }}" class="btn btn-success">
        Шинээр үүсгэх
    </a>
    <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{%endif%}" id="searchpad">
        {% include 'musicCmsBundle:Album:search.html.twig' %}
    </fieldset>

    {% include 'musicCmsBundle:Album:page.html.twig' %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Д/д</th>
                <th>Зураг</th>
                <th>Нэр</th>
                <th>Дуучин</th>
                <th>Дуунууд</th>
                <th>Засвар</th>
                <th>Нийтлэх өдөр</th>
                <th>Дууны тоо</th>
                <th>Үргэлжлэх хугацаа</th>
                <th>Гаргасан огноо</th>
                <th>Like тоолуур</th>
                <th>Үүсгэсэн огноо</th>
                <th>Зассан огноо</th>
                {#<th>Дуу</th>#}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{  entity.id }}</td>
                <td>
                    {% if entity.img %}
                        <a href="{{ imgstaturl }}{{entity.img}}" target="_blank">
                            <img style="border: 1px solid #ddd;max-height: 50px;" src="{{ imgstaturl }}{{entity.img}}" />
                        </a>
                    {% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('album_artist_add', {'id': entity.id}) }}" class="btn btn-primary"> <i class="icon-smile"></i><i class="icon-microphone"></i>
                        <span class ="badge">{{ entity.artistcount }}</span></a></td>
                <td><a href="{{ path('album_audio_add', {'id': entity.id}) }}" class="btn btn-primary">
                        <i class="glyphicon glyphicon-music"></i>
                        <span
                                class="badge">{{ entity.audiocount }}</span></a></td>
                <td> <a href="{{ path('album_edit', { 'id': entity.id }) }}" class="btn btn-success">Засах</a> </td>
                <td class="date"
                        {%if entity.publish_date %}
                            {% if entity.publish_date  > date() %}
                                style="background: #95CDFF;" title="Ирээдүйд нийтлэгдэх"
                            {% endif %}
                        {%else%}
                            style="background: #fec7c7;" title="Нийтлэх хугацаа тохируулаагүй"
                        {%endif%}
                        >
                    {% if entity.publish_date %}
                        {{ entity.publish_date|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>{{ entity.track_number }}</td>
                <td>{{ entity.duration }} сек</td>
                <td>{% if entity.released_date %}{{ entity.released_date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.like_count }}</td>
                <td>{% if entity.created_date %}{{ entity.created_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated_date %}{{ entity.updated_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#<td><a href="{{ path('album_audio', {'id': entity.id}) }}" class="btn btn-primary">Дуунууд: {{ entity.audiocount }}</a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script type="text/javascript">
        if(window.location.search!=''){
            $.each($('.pagination a'),function(key,val){
                $(this).attr('href',$(this).attr('href')+window.location.search);
            })
        }
        $('#searchlink').click(function(){
            $('#searchpad').toggle();
        });
    </script>

{% endblock %}
