{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Цомог хэсэг
{% endblock %}

{% block body -%}
<h1> Цомог шинээр үүсгэх</h1>

{{ form_start(form, {'attr': {'id': 'albumform','enctype':"multipart/form-data"}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.imagefile) }}
        {{ form_row(form.released_date) }}
        {{ form_row(form.is_mongolian) }}
        {{ form_row(form.publish_date) }}
        {{ form_row(form.studio) }}

<b>Дуучин нэр:</b>



<br><br>

<b>Дуу оруулах:</b>

<!-- Redirect browsers with JavaScript disabled to the origin page -->
<noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<div class="row fileupload-buttonbar">
    <div class="col-lg-7">
        <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Шинэ файл нэмэх...</span>
                    <input name="files[]" multiple="" type="file">
                </span>

        <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Болих</span>
        </button>
        <input class="toggle" type="checkbox">
        <!-- The global file processing state -->
        <span class="fileupload-process"></span>
    </div>
    <!-- The global progress state -->
    <div class="col-lg-5 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        <!-- The extended global progress state -->
        <div class="progress-extended">&nbsp;</div>
    </div>
</div>
<!-- The table listing the files available for upload/download -->
<table role="presentation" class="table table-striped">
    <tbody class="files"></tbody>
</table>
{{ form_end(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('album') }}" class="btn btn-info">
           Жагсаалтлуу буцах
        </a>
    </li>
</ul>
<script type="text/javascript">
    $(document).ready(function() {
        $("#{{ form.artistids.vars.id  }}").tokenInput('{{ path('album_artist_getdata') }}', {
            prePopulate: [{% for albumart in albumarts %}
                {
                    id: {{ albumart.artist.id }}, name: '{{ albumart.artist.name }}'
                },
                {% endfor %}]
        });
    });
</script>
{% verbatim %}
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name"><input type="text" value="{%=file.name%}" name="filename[]"/></p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}

            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=
    file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=
    file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

</script>
{% endverbatim %}

<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/bundles/gogocms/jqueryFileUpload/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/bundles/gogocms/jqueryFileUpload/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/bundles/gogocms/jqueryFileUpload/js/canvas-to-blob.min.js"></script>
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.blueimp-gallery.min.js"></script>
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/bundles/gogocms/jqueryFileUpload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script>
    $("#albumform").fileupload({
        replaceFileInput: false,
        acceptFileTypes: /(\.|\/)(mp3)$/i
    });
</script>
{% endblock %}
