<form action="{{ path('album') }}" method="get" {{ form_enctype(searchform) }}>
    {{ form_errors(searchform) }}
    {{ form_rest(searchform) }}
    <div>
        <button  class="btn btn-success" type="submit" name="submit" value="submit">{{'Хайх'|trans}}</button>
    </div>
    <div style="clear:both;"></div>
</form>
<script type="text/javascript">
    $(function(){
        $('#musiccms_news_artist_ali_date').change(function(){
            calcDate();
        });
        calcDate();
    });
    function calcDate(){
        if($('#gogocms_news_search_ali_date').val()!=''){
            $('#gogocms_news_search_start_date').parent().css('display','block');
            $('#gogocms_news_search_end_date').parent().css('display','block');
        }
        else{
            $('#gogocms_news_search_start_date').parent().css('display','none');
            $('#gogocms_news_search_end_date').parent().css('display','none');
        }
    }
</script>