{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Цомог хэсэг
{% endblock %}

{% block body -%}
    <h1>Album</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Img_is_big</th>
                <td>{{ entity.imgisbig }}</td>
            </tr>
            <tr>
                <th>Track_number</th>
                <td>{{ entity.tracknumber }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Released_date</th>
                <td>{{ entity.releaseddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Is_mongolian</th>
                <td>{{ entity.ismongolian }}</td>
            </tr>
            <tr>
                <th>Like_count</th>
                <td>{{ entity.likecount }}</td>
            </tr>
            <tr>
                <th>Created_date</th>
                <td>{{ entity.createddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated_date</th>
                <td>{{ entity.updateddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Publish_date</th>
                <td>{{ entity.publishdate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('album') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('album_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
