{% extends 'musicCmsBundle:layout:base.html.twig' %}

{% block body -%}
    <h1>{{ video.name }} видеоны дуунууд</h1>
    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('video_audio_seek', {'id': video.id}) }}">
                Дуу нэмэх
            </a>
        </li>
        <li>
            <a href="{{ path('video') }}">Буцах</a>
        </li>
    </ul>
    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Д/д</th>
            <th>Зураг</th>
            <th style="min-width: 200px;">Нэр</th>
            <th>Дуучны нэр</th>
            <th>Бүтээсэн огноо</th>
            <th>Listen тоолуур</th>
            <th>Like тоолуур</th>
            <th>Үүсгэсэн огноо</th>
            <th>Зассан огноо</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                {% if entity.audio %}
                    <td>
                        {% if entity.audio.img %}
                            <img style="border: 1px solid #ddd;max-height: 50px;" src="{{ imgstaturl }}{{ entity.audio.img }}"/>
                        {% endif %}

                    </td>
                    <td>{{ entity.audio.name }}</td>
                    <td>{{ entity.audio.artist_name }}</td>
                    <td>{% if entity.audio.released_year %}{{ entity.audio.released_year|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.audio.listen_count }}</td>
                    <td>{{ entity.audio.like_count }}</td>
                    <td>{% if entity.audio.created_date %}{{ entity.audio.created_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.audio.updated_date %}{{ entity.audio.updated_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="ajaxcaller btn btn-danger" onclick="callAjaxHref(this);" data-href="{{ path('video_audio_remove', {'id': video.id, 'sid': entity.audio.id}) }}"><i class="glyphicon glyphicon-minus"></i><i class="glyphicon glyphicon-time"></i></a>
                            </li>
                        </ul>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
