{% extends 'musicCmsBundle:layout:base.html.twig' %}

{% block body -%}
    <h1>{{ video.name }} видеонд дуу нэмэх</h1>
    <ul class="list-inline">
        <li>
            <a href="{{ path('video_audio', {'id': video.id}) }}">Буцах</a>
        </li>
    </ul>
    {% include 'musicCmsBundle:inc:searchpanel.html.twig' with {'search_panel_collapse': true} %}
    {% include 'musicCmsBundle:inc:page.html.twig' %}
    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Зураг</th>
            <th>Нэр</th>
            <th>Уран бүтээлч</th>
            <th>Бүтээсэн огноо</th>
            <th>Сонссон</th>
            <th>Таалсан</th>
            <th>Үүсгэсэн</th>
            <th>Өөрчилсөн</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.img %}<img src="{{ imgstaturl }}{{ entity.img }}" style="width: 100px;"/>{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.artist_name }}</td>
                <td>{% if entity.released_year %}{{ entity.released_year|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.listen_count }}</td>
                <td>{{ entity.like_count }}</td>
                <td>{% if entity.created_date %}{{ entity.created_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated_date %}{{ entity.updated_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="ajaxcaller btn btn-success" onclick="callAjaxHref(this);" data-href="{{ path('video_audio_add', {'id': video.id, 'sid': entity.id}) }}"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-time"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
