{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?
{% endblock %}

{% block body -%}
    <h1>AlbumArtist list</h1>


    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('album_artist_add', {'id':entity.id}) }}">
                Шинээр нэмэх
            </a>
        </li>
    </ul>
    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Order</th>
            <th>Дуучны нэр</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for artistalbum in entity.artistalbums %}
            <tr>
                <td>{{ artistalbum.id }}</td>
                <td>{{ artistalbum.order }}</td>
                <td>{{ artistalbum.artist.name }}</td>
                <td>
                    <ul>
                        <li>
                            <form method="POST" action="{{ path('album_artist_remove', { 'id': artistalbum.id,  }) }}" style="padding:0;">
                                <button type="submit" class="btn btn-danger" class = "input-">Устгах</button>
                            </form>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
