{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
    Сайн байна уу?
{% endblock %}

{% block body -%}

   <h2>Албум нэр: {{ albumname }}</h2>

    {{ form(form) }}
        <script type="text/javascript">
            $(document).ready(function() {
                $("#{{ form.artistids.vars.id  }}").tokenInput('{{ path('album_artist_getdata') }}', {
                    prePopulate: [{% for albumart in albumarts %}
                        {
                            id: {{ albumart.artist.id }}, name: '{{ albumart.artist.name }}'
                        },
                        {% endfor %}]
                });
            });
        </script>
{% endblock %}
