{% extends "musicCmsBundle:layout:base.html.twig" %}

{% block body -%}
    <h1>Хэрэглэгч засах</h1>

    {% if entity.userImageUrl %}
        <img src="{{ entity.userImageUrl }}" width = "180px" height="180px"/>
    {% else %}
        <img src="/image/noimg.jpg" width = "180px" height="180px"/>
    {% endif %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}" class="btn btn-info">
            Жагсаалтлуу буцах
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
