{% extends "musicCmsBundle:layout:base.html.twig" %}
{% block title -%}
Хэрэглэгч хэсэг
{% endblock %}
{% block body -%}
    <h1>Хэрэглэгчийн жагсаалт</h1>

    <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{%endif%}" id="searchpad">
        {% include 'musicCmsBundle:User:search.html.twig' %}
    </fieldset>

    {% include 'musicCmsBundle:User:page.html.twig' %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Д/д</th>
                <th>Зураг</th>
                <th>Засалт</th>
                <th>Сошиал ID</th>
                <th>Түвшин</th>
                <th>Нэвтрэх нэр</th>
                <th>Нэвтрэх төрөл</th>
                <th>Овог нэр</th>
                <th>Төрсөн огноо</th>
                <th>Майл хаяг</th>
                <th>Following</th>
                <th>Followers</th>
                <th>Нэвтэрсэн огноо</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>

                    {% if entity.userImageUrl %}
                        <img src="{{ entity.userImageUrl }}" width = "80px" height="80px"/>
                    {% else %}
                        <img src="/image/noimg.jpg" width = "80px" height="80px"/>
                    {% endif %}
                </td>
                <td><a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-success">Засах</a></td>
                <td>{{ entity.socialId }}</td>
                <td>   {% for role in entity.myroles %}
                        {{ role }}
                    {% endfor %}</td>
                <td>{{ entity.loginName }}</td>
                <td>{{ entity.loginType }}</td>
                <td>{{ entity.firstName }}</td>
                <td>{% if entity.userBirthday %}{{ entity.userBirthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.userEmail }}</td>
                <td>{{ entity.following }}</td>
                <td>{{ entity.followers }}</td>
                <td>{% if entity.loginDate %}{{ entity.loginDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<script type="text/javascript">
    if(window.location.search!=''){
        $.each($('.pagination a'),function(key,val){
            $(this).attr('href',$(this).attr('href')+window.location.search);
        })
    }
    $('#searchlink').click(function(){
        $('#searchpad').toggle();
    });
</script>
{% endblock %}