{% extends "musicCmsBundle:layout:base.html.twig" %}

{% block body -%}
    <h1>Шинэ хэрэглэгч бүртгэх </h1>

    {% if entity.userImageUrl %}
        <img src="{{ entity.userImageUrl }}" width = "100px" height="120px"/>
    {% else %}
        <img src="/image/noimg.jpg" width = "100px" height="120px"/>
    {% endif %}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Жагсаалтруу буцах
        </a>
    </li>
</ul>
{% endblock %}
