{% extends "musicCmsBundle:layout:base.html.twig" %}
 {% block titlecont %} <h1>Playlist-үүд</h1>{% endblock %}

{% block body -%}
    <h1>Playlist-үүд</h1>
    <a href="{{ path('playlist_create') }}" class="btn btn-success">
      Шинээр үүсгэх
    </a>

    <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{%endif%}" id="searchpad">
        {% include 'musicCmsBundle:Playlist:search.html.twig' %}
    </fieldset>
    {% include 'musicCmsBundle:Playlist:page.html.twig' %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Д/д</th>
                <th>Зураг</th>
                <th>Playlist Нэр</th>
                <th>Засах</th>
                <th>Нийтлэх</th>
                <th>Хэрэглэгч нэр</th>
                <th>Дууны тоо</th>
                <th>Үргэлжлэх хугацаа</th>
                <th>Тайлбар</th>
                <th>Like тоолуур</th>
                <th>Үүсгэсэн огноо</th>
                <th>Өөчлөгдсөн огноо</th>
                <th>Нийтлэх огноо</th>


            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td> {% if entity.img %}
                        <img style="border: 1px solid #ddd;max-height: 100px;" src="{{ imgstaturl }}{{entity.img}}" />
                    {% endif %}</td>
                <td>{{ entity.name }}</td>
                <td> <a href="{{ path('playlist_update', { 'id': entity.id }) }}" class="btn btn-success">Засах</a></td>
                <td> <a href="{{ path('playlist_audio',  { 'id': entity.id })  }}"
                        title="Дуучин"
                        {% if entity.is_public == 1 %}
                             class="btn btn-primary">
                        {% else %}
                            class="btn btn-success">
                        {% endif %}
                        <i class="icon-music"></i>
                    </a></td>
                <td>{{ entity.user_name }}</td>
                <td>{{ entity.track_number }}</td>
                <td>{{ entity.duration }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.likeCount }}</td>
                <td>{% if entity.created_date %}{{ entity.created_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated_date %}{{ entity.updated_date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.publish_date %}{{ entity.publish_date|date('Y-m-d H:i:s') }}{% endif %}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        if(window.location.search!=''){
            $.each($('.pagination a'),function(key,val){
                $(this).attr('href',$(this).attr('href')+window.location.search);
            })
        }
        $('#searchlink').click(function(){
            $('#searchpad').toggle();
        });
    </script>
    {% endblock %}
