{% extends "musicCmsBundle:layout:base.html.twig" %}
 {% block titlecont %} <h1>Playlist-үүд</h1>{% endblock %}

{% block body -%}
    <h1>Playlist шинээр үүсгэх</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('playlist') }}" class="btn btn-info">
            Жагсаалтлуу буцах
        </a>
    </li>
</ul>
{% endblock %}
