{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Playlist</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>User_name</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Track_number</th>
                <td>{{ entity.tracknumber }}</td>
            </tr>
            <tr>
                <th>Likecount</th>
                <td>{{ entity.likeCount }}</td>
            </tr>
            <tr>
                <th>Created_date</th>
                <td>{{ entity.createddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated_date</th>
                <td>{{ entity.updateddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Publish_date</th>
                <td>{{ entity.publishdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Is_public</th>
                <td>{{ entity.ispublic }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('playlist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('playlist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
