/* TED player */

.mejs-container {
    height: 90px;
}
.mejs-container .mejs-gogo {
    background: #554860;
    width: auto;
    margin-right: 0;
}


.me-cannotplay{
    margin-left: 200px;
    position: absolute;
    color: lightslategray;
    width: 600px !important;
    z-index: 400;
}

.mejs-mediaelement{
    background:none;
}
.mejs-gogo .mejs-controls {
	background: #16002f;
	height: 100%;
    visibility: visible;
    right: 0;
    width: auto;
}

.mejs-gogo .mejs-controls .mejs-button button{
    background: url('http://gstat.mn/musicnew/statres/stat/css/player/player_icons.png');
    background-repeat: no-repeat;
    /*top: 18px;*/
    margin: 0;
}

.mejs-gogo .mejs-button{
    position: absolute;
}

.mejs-gogo-radio-inactive-button{
    -webkit-filter: opacity(50%);
}

.mejs-gogo .mejs-time{
    position: absolute;
    background: #ddd;
    float: none;
    left: 100px;
}



.mejs-gogo .mejs-controls .mejs-time-rail{
    padding-top: 10px;
    height: 2px;
    width: 100%;
    vertical-align: middle;
    border-radius: 0;
    margin-left: 140px;
    margin-right: 140px;
}
.mejs-gogo .mejs-overlay-button{
    display: none;
}
.mejs-gogo .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #3f265b;
	height: 2px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 1;
}
.mejs-gogo .mejs-controls .mejs-time-rail .mejs-time-buffering {
	height: 100%;
}
.mejs-gogo .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: white;
	width: 2px;
	height: 100%;
}
.mejs-gogo .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 100%;
	background: #c20049;
}
.mejs-gogo .mejs-controls .mejs-time-rail .mejs-time-handle  {
	display: none;
	margin: 0;
	width: 14px;
	height: 21px;
	bottom: -7px;
	border: 0;
    background: goldenrod;
}
.mejs-gogo .mejs-controls .mejs-time-rail .mejs-time-float {	
	display: none;
}

.mejs-gogo .mejs-controls .mejs-button button{
    background: url('http://gstat.mn/musicnew/statres/stat/css/player/player_icons.png');
    width: 18px;
    height: 18px;

}
.mejs-gogo .mejs-controls .gogo-plugin button{
    margin-left: 6px;
}

.mejs-gogo .mejs-controls .mejs-playpause-button  {
    top: 22px;
    left: 370px;
	width: 45px;
	height: 45px;
}
.mejs-gogo .mejs-controls .mejs-playpause-button  button {
    width: 45px;
	height: 45px;
	margin: 0;
	padding: 0;

}
.mejs-gogo .mejs-controls .mejs-play button{
    background-position: 0px -72px;
}
.mejs-gogo .mejs-controls .mejs-pause button{
    background-position: 0px -117px;
}


.mejs-gogo .mejs-controls .mejs-nexttrack-button{
    background: url('http://gstat.mn/musicnew/statres/stat/css/player/player_icons.png');
    background-repeat: no-repeat;
    float: left;
    left: 415px;
    top: 30px;
    width: 30px;
    height: 30px;
    background-position: -67px -3px;
}
.mejs-gogo .mejs-controls .mejs-nexttrack-button button{
    background: none;
    width: 30px;
    height: 30px;
}

.mejs-gogo .mejs-controls #player-current-title{
    position: absolute;
    float: left;
    left: 500px;
    right: 280px;
    top: 22px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    width: auto;
    font-size: 18px;
    padding-left: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: RobotoLight;
}


.mejs-gogo .mejs-controls .mejs-lyrics-button{
    right: 90px;
    width: 30px;
    height: 45px;
    top: 10px;
}
.mejs-gogo .mejs-controls .mejs-lyrics-button button{
    margin: 0;
    width: 30px;
    height: 45px;
}
.mejs-gogo .mejs-controls .mejs-lyrics-off button{
    background-position: 0px -702px;
}

.mejs-gogo .mejs-controls .mejs-lyrics-on button{
    background-position: 0px -747px;
}

#player-lyrics-container{
    width: 100%;
    height: 100%;
    background: #ffffff;
    /*position: fixed;*/
    /*bottom: 180px;*/
    /*right: 117px;*/
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 11px;
    line-height: 14px;
    /*z-index: 100;*/
}





.mejs-gogo .mejs-controls .mejs-volume-button  {
    top: 25px;
    left: 140px;
	width: 100px;
	height: 40px;
}
.mejs-gogo .mejs-controls .mejs-mute button {
    background-position: 0px -387px;
	width: 30px;
	height: 45px;
	margin: 0;
	padding: 0;
}
.mejs-gogo .mejs-controls .mejs-unmute button {
    background-position: 0px -432px;
	width: 30px;
	height: 45px;
	margin: 0;
	padding: 0;	
}
.mejs-gogo  .mejs-controls .mejs-volume-button .mejs-volume-slider {
	width: 70px;
	height: 2px;
    display: block;
    background: none;
    top: 21px;
    left: 30px;
    overflow: hidden;
}

.mejs-gogo .mejs-horizontal-volume-slider{
    position: absolute !important;
    left: 170px;
    top: 33px;
}

.mejs-gogo .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{
    top:13px;
    height: 2px;
    background-color: white;
    background: white !important;
}

.mejs-gogo .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
    top: 13px;
    height: 2px;
    background-color: #c20049;
    background: #c20049 !important;
}

.mejs-gogo  .mejs-controls .mejs-volume-button .mejs-volume-total {
	background-color: white;
	left: 0;
    top:0;
	width: 70px;
	height: 2px;

}
.mejs-gogo  .mejs-controls .mejs-volume-button .mejs-volume-current {
	left: -1px;
    top:0;
	width: 70px;
	background-color: #c20049;
	height: 2px;

}

.mejs-gogo  .mejs-controls .mejs-volume-button .mejs-volume-handle {
	display: none;
}

.mejs-gogo .mejs-controls .mejs-currenttime-container  {
	position: absolute;
	top: 0;
	right: 100px;
	background: transparent;
	color: white;
	padding-top: 2px;
    width: 30px;
}

.mejs-gogo .mejs-controls .mejs-currenttime{
    position: absolute;
    left: 5px;
    top: 2px;
}

.mejs-gogo .mejs-controls .mejs-duration-container  {
    padding-top: 2px;
    top: 0;
    background: transparent;
    color: white;
}

.mejs-gogo .mejs-controls .mejs-time .mejs-duration{
    float: right;
}

.mejs-gogo .mejs-controls .mejs-time{
    right: 100px;
}

.mejs-gogo .mejs-controls .mejs-time  button{
	color: #333;
}
.mejs-gogo .mejs-controls .mejs-captions-button {
	display: none;
}
.mejs-gogo .mejs-controls .mejs-time span{
    color: #ffffff;
    margin-top: 4px;
}

.mejs-gogo .mejs-controls .mejs-time .mejs-totaltime{
    color: #ffffff;
    float: right;
    margin-right: 130px;
}
.mejs-gogo .mejs-time{
    background: none;
}
/* end of player style*/





/* start of player extra style*/


/*track extras*/
#player-container .track-plugin-container{
   position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    width: 180px;
}


#player-container .track-plugin-container .track-plugin{
    display: block;
    position: absolute;
    height: 45px;
    width: 30px;
    right: 0;
    top: 10px;
}

#player-container .track-plugin-container .track-plugin button{
    background: url('http://gstat.mn/musicnew/statres/stat/css/player/player_icons_new.png');
    margin: 0;
    padding: 0;
    width: 30px;
    height: 45px;
    border:none;
}

#player-container .track-plugin-container .player-full button{
    background-position: 0px -477px;
}
#player-container .track-plugin-container .player-toggled button{
    background-position: 0px -522px;
}
#player-container .track-plugin-container .track-love{
    right: 150px;
}
#player-container .track-plugin-container .track-loved{
    right: 150px;
}
#player-container .track-plugin-container .track-love button{
    background: url('http://gstat.mn/musicnew/statres/stat/images/likeButton.png') no-repeat;
    background-size: 18px 16px;
    background-position: center center;
}
#player-container .track-plugin-container .track-loved button{
    background: url('http://gstat.mn/musicnew/statres/stat/images/clickedLikeButton.png') no-repeat;
    background-size: 18px 16px;
    background-position: center center;
}
#player-container .track-plugin-container .track-share{
    right: 120px;
}
#player-container .track-plugin-container .track-share button{
    background-position: 0px -612px;
}
#player-container .track-plugin-container .track-add{
    right: 90px;
}
#player-container .track-plugin-container .track-add button{
    background-position: 0px -792px;
}
#player-container .track-plugin-container .playlist-export{
    right: 60px;
}
#player-container .track-plugin-container .playlist-export button{
    background: url('http://gstat.mn/musicnew/statres/stat/images/playlist-export.png') no-repeat;
    background-position: center;
}
#player-container .track-plugin-container .playlist-empty{
    right: 30px;
}
#player-container .track-plugin-container .playlist-empty button{
    background-position: 0px -837px;
}

.player-option-box{
    width: 165px;
    height: 0;
    bottom: 55px;
    right: 90px;
    position: absolute;
}

.playlist-container div{
    overflow: scroll;
    overflow-x: hidden;
    height: 160px;
    width: 100%;
}

.playlist-container ul{
    width: 100%;
    padding: 0;
}
.playlist-container ul li{width: 100%;border-top: 1px solid #ccc;}
.playlist-container ul li a{width: 100%;text-indent: 20px; list-style-type: none; display: inline-block;color: #777777;overflow: hidden;}
.playlist-container ul li a:hover{background-color: #f0f0f0;}


/*player tracks*/


.player-track-item{
    height: 90px;
    width: 70px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}
.player-track-item:hover .player-track-hide{
    visibility: visible;
}
.player-track-item img{
    width: 100%;
    height: 70px;
}
.player-track-item .player-track-title{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 15px;
    height: 15px;
    white-space: nowrap;
}
.player-track-item .player-track-hide{
    visibility: hidden;
    position: absolute;
    float: right;
    top:0;
    right: 0;
    width: 20px;
    height: 20px;
    /*background: url('../stat/images/player-image-xbutton.png') no-repeat;*/
    background-position: center center;
    color: #ffffff;
    background-size: 100%;
    border: none;
    padding: 0;
    z-index: 6;
    /*z-index: 110;*/
    /*background-size: 100% 100%;*/
}


.player-track-item .player-track-play{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: rgba(0,0,0,0.4);
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/track-key.png');
    background-size: 30% 40%;
    background-repeat: no-repeat;
    background-position: 24px 21px;
    border: none;
    padding: 0;
    z-index: 5;

}
.player-track-item:hover .player-track-play{
    visibility: visible;
}

/*test*/
.mCustomScrollBox{
    margin-right: 50px;
    margin-left: 10px;
}
.connected, .sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    /*width: 310px;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sortable.grid {
    height: 110px;
    border: none;
    width: 100%;
    padding-top: 5px;
}
.connected li, .sortable li, .exclude li, .handles li {
    list-style: none;
    border: none;
    /*background: #F6F6F6;*/
    font-family: "Tahoma";
    color: #1C94C4;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    padding: 0;
}
.handles span {
    cursor: move;
}
li.disabled {
    opacity: 0.5;
}
.sortable.grid li {
    width: 70px;
    height: 90px;
    text-align: center;
    /*display: inline-block;*/
    position: relative;
    margin-top: 15px;
    float: left;
}
li.highlight {
    background: #FEE25F;
}

li.placeholder:before {
    position: absolute;
}
li.placeholder {
    border: 1px dashed #CCC;
    background: none;
    position: relative;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute !important;
    opacity: 0.5;
    z-index: 2000;
}

/*.sortable-dragging{*/
    /*float: none;*/
    /*position: absolute;*/
/*}*/

#playing .player-track-play{
    visibility: visible;
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/playload2anim.gif');
}
#playing.paused-track .player-track-play{
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/track-key.png');
}


#player-add-to-playlist{
    width: 150px;
    height: 200px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    bottom: 180px;
    right: 50px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 11px;
    line-height: 14px;
    z-index: 100;
}

.marquee{
    pointer-events: none;
    overflow-y: hidden;
}

#player-radio{
    position: absolute;
    left: 0;
    top:0;
    width: 90px;
    height: 90px;
    background: #c20049;
}

#trackimg {
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

#trackimg img {
    width: 100%;
    height: 100%;
}

#player-share-box { position: absolute; width: 165px; bottom: 55px; height: 55px; right: 90px; background-color: #ffffff; z-index: 10; display: none; }
.player-share { height: 27px; padding-left: 10px; padding-right: 10px; position: relative; line-height: 16px; padding-top: 5px; padding-bottom: 5px; color: #515352; font-size: 12px; font-family: "OpenSans"; background-color: #ffffff; }
.player-share:hover { background-color: #edebeb; }
.player-share a { text-decoration: none; position: relative; color: inherit; }