<script>
function likeContent(event) {
    {% if is_granted('ROLE_USER') %}

    event = event || window.event;
    event.cancelBubble = true;
    if (event.stopPropagation) event.stopPropagation();
    event.preventDefault();
    var tr = event.target || event.srcElement;
        var attr = $(tr).attr('data-target');
        if(typeof attr !== typeof undefined && attr !== false) return;

        var id = $(tr).attr('content-id');
        var contentType = $(tr).attr('content-type');
        var dataValue = { contentId: id, contentType: contentType };
        var el = $(tr);

        if(el.hasClass("like-clicked")) {
            $.ajax({
                type: "POST",
                url: "{{ path('web_unlike_content') }}",
                cache: "false",
                data: dataValue,
                async: true,
                success: function (data) {
                    if(data.status == 'success'){
                        var dataSrc = el.data("src");
                        el.data("src", el.attr("src"));
                        el.attr("src", dataSrc);
                        el.removeClass("like-clicked");
                        if(contentType == 1){
                            toastr['success']('Гоё дуунаас хасагдлаа');
                        }else if(contentType == 2){
                            toastr['success']('Дуртай цомгоос хасагдлаа');
                        }else if(contentType == 3){
                            toastr['success']('Дуртай жагсаалтаас хасагдлаа');
                        }else if(contentType == 4){
                            toastr['success']('Дуртай уран бүтээлчийн жагсаалтаас хасагдлаа');
                        }

                        if(el.closest('.music-content').hasClass('content-options'))
                        {
                            if(data.hasOwnProperty('like_count')){
                                el.closest('.content-info').find('.content-like-count').html(data.like_count);
                            }
                        }


                        if(contentType == 1){
                            $('.sortable li').each(function(e){
                                if($(this).attr('contentid') == id){
                                    if($(this).hasClass('thumb-liked')){
                                        $(this).removeClass('thumb-liked');

                                    }
                                    if($(this).attr('id') == 'playing'){
                                        $('#track-plugin-love').removeClass('track-loved').addClass('track-love');
                                    }
                                }
                            });
                        }
                    }

                },
                error: function (data) {

                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "{{ path('web_like_content') }}",
                cache: "false",
                data: dataValue,
                success: function (data) {
                    if(data.status == 'success'){
                        var dataSrc = el.data("src");
                        el.data("src", el.attr("src"));
                        el.attr("src", dataSrc);
                        el.addClass("like-clicked");

                        if(contentType == 1){
                            toastr['success']('Гоё дуунд нэмэгдлээ');
                        }else if(contentType == 2){
                            toastr['success']('Дуртай цомогт нэмэгдлээ');
                        }else if(contentType == 3){
                            toastr['success']('Дуртай жагсаалтанд нэмэгдлээ');
                        }else if(contentType == 4){
                            toastr['success']('Дуртай уран бүтээлчийн жагсаалтанд нэмэгдлээ');
                        }
                        if(data.hasOwnProperty('like_count')){
                            $('.content-count-info').find('.content-like-count').html(data.like_count);
                        }

                        if(contentType == 1){
                            $('.sortable li').each(function(e){
                                if($(this).attr('contentid') == id){
                                    if(!$(this).hasClass('thumb-liked')){
                                        $(this).addClass('thumb-liked');
                                    }
                                    if($(this).attr('id') == 'playing'){
                                        $('#track-plugin-love').removeClass('track-love').addClass('track-loved');
                                    }
                                }
                            });
                        }
                    }

                },
                error: function (data) {

                }
            });
        }
    {% else %}
    $('.login-modal-lg').modal('show')
    {% endif %}
}
</script>