.grid-thumb-outer {
    position: relative;
    float: left;
    margin-top: 20px;
}

.grid-thumb {
    float: left; margin-right: 30px; width: 200px; position: relative;
}

.grid-thumb a {
    text-decoration: none;
}

.thumb-no-rows {cursor: pointer; overflow: hidden; position: relative; }

.thumb-no-rows .img-container {
    overflow: hidden; height: 200px; width: 200px; display: block !important;
}

.thumb-no-rows .img-container .thumb-img {
    width: 200px;
    height: 200px;
}

.thumb-no-rows .mask, .thumb-no-rows .mask-no-trans {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.grid .thumb-no-rows .mask {
    /*background-color: transparent;*/
}

.playing-thumb .mask,.paused-thumb .mask{
    display: block !important;
}

.playing-thumb .mask .thumb-hover-play-img{
    background: url('http://gstat.mn/musicnew/statres/stat/images/playload2anim.gif') no-repeat center !important;
}

.grid .thumb-no-rows .mask-no-trans {
    transition: 0 !important;
}

.mask-no-trans-show {
    left: 0px !important;
    top: 0px !important;
    display: block !important;
}

.grid-thumb .title {
    font-size: 14px; line-height: 16px; text-align: center; white-space: nowrap; text-overflow: ellipsis; color: #000000; height: 16px; overflow: hidden;
}

.grid-thumb .first-row {
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: "OpenSansBold";
}

.grid-thumb .second-row {
    font-family: "OpenSans";
}

.artist-follower-count{
    color: #c20049 !important;
    font-family: "OpenSansItalic" !important;
    font-size: 10px !important;
}

.grid-thumb .second-row a{
    color: #000000;
}

.grid-thumb .second-row a:hover{
    color: #888888;
}

.thumb-no-rows:hover .mask {
     display: block !important;
 }

.thumb-no-rows:hover .mask-left, .mask-left {
    margin-left: 6px;
}

.album-corner {
    height: 200px;
    position: absolute;
    z-index: 1;
    border-right: 1px solid #9a9a9a;
}

.thumb-hover-play-img {
    /*margin-top: 80px;*/
    cursor: pointer;
}

.thumb-type {
    position: absolute;
    z-index: 2;
    background-color: #000000;
    top: 170px;
    color: #ffffff;
    font-family: "OpenSansLight", "arial";
    font-size: 10px;
    padding: 4px;
    padding-top: 1px;
}

.thumb-chart{
    position: absolute;
    right: 27px;
    top: 10px;
    width: 35px;
    height: 35px;
    background-color: #c20049;
    color: #ffffff;
    font-family: "OpenSans-Light", "arial";
    font-size: 23px;
    text-align: center;
    z-index: 4;
}
.thumb-chart .equalspan{
    display: none;
    color: #ffffff;
    font-family: 'OpenSansBold';
}
.thumb-chart .glyphicon-star{
    display: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
    background-color: #c20049;
    text-align: center;
    position: absolute;
    font-size: 20px;
    padding-top: 7px;
}

.chart-symbol:hover span{
    display: none;
}

.chart-up:hover{
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/chart-up-arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.chart-down:hover{
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/chart-down-arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.chart-equal:hover .equalspan{
    display: block;
}
.chart-first:hover .glyphicon-star{
    display: block;

}


.thumb-type img {
    margin-right: 4px;
}

.playlist-corner-white, .playlist-corner {
    position: absolute;
    height: 195px;
    left: 0 !important;
    top: 5px !important;
    display: block !important;
    background-color: #000000;
    width: 7px;
    border: 1px solid #9a9a9a;
}

.playlist-corner-white {
    background-color: #f3f3f3;
    border: none;
    border-right: 1px solid #9a9a9a;
    top: 0 !important;
}

.thumb-options {
    position: absolute;
    top: auto !important;
    bottom: 14px;
    text-align: center;
    left: 0;
    right: 0;
}

.thumb-options img {
    cursor:  pointer;
}

.thumb-hover-like-img {
    width: 37px;
    height: 34px;
    padding: 10px;
}

.thumb-add-button .thumb-hover-like-img{
    width: 34px;
}

.thumb-more-options {
    height: 30px;
    cursor: pointer;
    padding: 10px;
}

.artist-fan-button{
    width: 42px;
    height: 37px;
    /*padding: 5px;*/
}

.thumb-options img:hover{
    -webkit-animation: pulsate 0.5s ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.0, 1.0);}
    50% {-webkit-transform: scale(1.2, 1.2);}
    100% {-webkit-transform: scale(1.0, 1.0);}
}

.thumb-option-box {
    position: absolute; left: 150px !important; top: 65px !important; z-index: 3; padding-left: 7px;
}

.thumb-option-box .up-rect {
    position: absolute; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 7px solid #ffffff;
    width: 0; height: 0; top: 50%; margin-left: -7px; margin-top: -3px;
}

.thumb-option-hitone {
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/option-hitone.png');
}

.thu, .mb-option-addlist {
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/option-plus.png');
}

/*.list-option-later {*/
     /*background-image: url('http://gstat.mn/musicnew/statres/stat/images/option-plus.png');*/
 /*}*/



.thumb-option-link {
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/option-link.png');
}


/*genre-thumb*/
.genre-thumb {
    height: 90px;
    width: 90px;
    border-radius: 90px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    margin-right: 25px;
    line-height: 90px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "OpenSansBold", "arial";
    font-size: 10px;
    color: #1e003f;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.genre-thumb:hover {
    color: #c20049;
    text-decoration: none;
}

.create-playlist-button { display: block;background: #eee;border: none;text-align: center;width: 100%; }
.create-playlist-name { display: block;border: 1px solid #ddd;width: 100%; }
.add-playlist { padding: 0 !important;  }
.thumb-delete-icon { padding-left: 10px !important; }
.option-ico{ margin-right: 5px; max-width: 11px; line-height: 17px; vertical-align: middle; max-height: 17px; }
.option-name {display: inline-block; vertical-align: middle; left: 17px; max-height: 17px;
    text-decoration: none;
    color: #515352;
    font-size: 12px;
    font-family: "OpenSans";
    white-space: nowrap;
    outline: none;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.option-faw { width: 11px; line-height: 17px; height: 13px; color: #6d6d6d; font-size: 11px; }