.introjs-button, .introjs-skipbutton{
    border: none;
    color: #7a7a7a !important;
    text-shadow: none;
    background-color: #1c1128 !important;
    background-image: none !important;
}

.introjs-button:hover, .introjs-button:focus {
    box-shadow: none;
}

.introjs-helperNumberLayer{
    height: 30px;
    width: 30px;
    line-height: 10px;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    top: -36px;
}
