html, body {
"OpenSansLight", arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #0d001c;
}

body {
    opacity: 0;

}

h3 {
    font-family: OpenSansLight;
    font-size: 36px;
    color: #7a7a7a;
}

h5 {
    font-family: PTSansBold;
    font-weight: bold;
    font-size: 14px;
    color: #636363;
    margin: 30px 0;
}

a:hover{ text-decoration: none; text-underline: none; }

.container{ max-width: 1170px !important; }
:focus {outline:none;}
::-moz-focus-inner {border:0;}

#loader {height: 100%;}

#topnav { opacity: 1; z-index: 6; width: 100%; display: block; height: 35px; padding-left: 180px; background-color: rgba(255,255,255,0.25); position: fixed; top: 0;}
#topnav .topnav_menus {float: left;margin: 0;padding: 0;list-style-type: none;text-align: center;}
#topnav .topnav_menus li{float: left}
#topnav .topnav_menus li a{ display: block; font-size: 13px; font-weight: bold; font-family: helios,gogo, arial; text-transform: uppercase;color: white;padding: 0 9px;line-height: 35px;height: 35px; text-decoration: none;}
#topnav .topnav_menus li a:hover{color: #c20049;}
#topnav .topnav_icons{float: right;margin: 0;list-style-type: none;padding: 0;}
#topnav .topnav_icons li {float: left;}
#topnav .topnav_icons li a{padding: 0 2px}
#topnav .topnav_icons li a img{width: 18px;height: 18px;}
.topnav-name { font-size: 13px; font-weight: bold; font-family: helios,gogo, arial; text-transform: uppercase;color: white; text-decoration: none; margin-right: 6px !important;}

#dynamic-content{margin-top: 0;display: inline-block; width: 100%; padding-left: 0; min-width:900px !important; padding-bottom: 90px;}

#middlenav{ margin-left: 310px; }
#middlenav .menus{ padding-left:0; width: 250px; list-style-type: none; margin: 0; height: 45px; background-color: transparent;}
#middlenav .menus a{color: #7a7a7a;padding-left: 20px;height:100%;padding-right: 20px;line-height: 45px;float: left;cursor: pointer; text-transform: uppercase;text-decoration: none;
    font-size: 12px;}
#middlenav .menus a:hover { color: white; }
#middlenav .menus .selected { color: white;  }

.texttab {margin-bottom: 17px; height: 30px; }
.texttab ul { list-style-type: none; height: 30px; width: 300px; padding: 0; float: right;}
.texttab ul a { width: 150px; line-height: 30px; float:left; cursor: pointer; text-transform: uppercase; text-decoration: none; font-size:12px; color: #7a7a7a; text-align: center;
    background-color: #eeeeee; }
.texttab ul .selected { background-color: #c20049; color: white; }
/*.grid {margin-top: 30px;}*/

.login-user-img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

#left-store {
    position: fixed;
    width: 180px;
    text-align: center;
    bottom: 0px;
    z-index: 11;
}

#left-store a {
    display: block;
    margin-bottom: 6px;
}

#gogo-music-ico { width: 180px; text-align: center; height: 220px; line-height: 220px; background-color: rgba(73,49,99,0.7); }
.outer-channels { margin-right: 10px; margin-top: 5px; margin-bottom: 5px; display: inline-block; height: 22px;}
.outer-channels li{  height: 22px; padding: 0; margin: 0; display: inline-block;}
.outer-channels li img{  height: 100%;  width: auto;  }

#body-container{ padding-top: 114px;padding-left: 210px; }

#player-container{ height:120px; position: fixed; left: 0; right: 0; bottom: 0px; z-index: 99;background-color: transparent; }

#content{ position: relative; width: 100%; height: 100%; }

.home-subcontent{ margin-top: 20px;}
.subcontent{ display: inline-block; }
.container-ib {display: block !important; position: relative;}
/*.home-subcontent:first-child {*/
/*margin-top: 0;*/
/*}*/
.home-title{margin-top: 30px; color: #636363; font-family: RobotoLight,arial, Helvetica; font-size: 14px; text-transform: uppercase; line-height: 14px; display: inline-block;}

.cbox-pad{position: relative;}
.cbox-pad .cbox-next,
.cbox-pad .cbox-prev{position: absolute;top: 165px;display: block;height: 50px;line-height: 28px;width: 20px;text-align: center;background-color: transparent;
    display: none;}
.cbox-pad .cbox-next{right: -20px;}
.cbox-pad .cbox-prev{left: -20px;}
.cbox-next img, .cbox-prev img{ margin-top: 12px;}
/*.cbox-pad:hover .cbox-next,*/
/*.cbox-pad:hover .cbox-prev{background-color: #fff;}*/

.cbox-line{overflow: hidden;}
.cbox-pad,
.cbox-line{height: 450px;}
.cbox-line .cbox-title{color: white; font-family: RobotoLight,arial, Helvetica; font-size: 20px; line-height: 30px; height: 50px; text-align: left; text-transform: uppercase; position: relative;}
.cbox-line .cbox-title a{ text-decoration: none; color: white; }
.cbox-line .cboxs{height: 282px;}
.cbox-line .cbox .grid-thumb-outer{}
.cbox-line .cbox .grid-thumb-outer .grid-thumb{}
.cbox-line .cboxs{}
.cbox.cboxfirst .square-thumb { margin-left:0; }
.cbox.cboxlast .square-thumb { margin-right:0; }
.cbox.cboxfirst .simple-grid { margin-left:0; }
.cbox.cboxlast .simple-grid { margin-right:0; }
.cboxfirst.simple-grid { margin-left: 0; }
.cboxlast.simple-grid { margin-right: 0; }
.cbox-title-line { position: absolute; height: 1px; background-color: #3f265b; left: 100px; right: 0; top:12px; }

.radiocbox { top: 40px !important; height: 250px !important;line-height: 250px !important;}
.videocbox { top: 40px !important; height: 270px !important;line-height: 270px !important;}

.pagination {
    position: relative; text-align: left; margin: 0; margin-top: 25px; padding: 0; float: right;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background: #222;
    margin-right: 4px;
    opacity: 0.8;
    cursor: pointer;
}

.swiper-visible-switch {
    background: #626262;
}
.swiper-active-switch {
    background: #c20049;
}

#login-container {
    padding-left: 40px;
    height: 300px;
    width: 300px;
    margin-right: auto;
    background-color: rgba(255,255,255,0.7);
}

#lyrics-modal-lg .modal-lg {
    width: 600px;
}

.login-modal-lg .modal-lg {
    width: 600px;
    background-image: url('http://gstat.mn/musicnew/statres/stat/images/login-back.png');
}

#login-container .login-btns-title {
    font-size: 12px;
    color: #151924;
    padding: 30px 0;
    padding-left: 5px;
}

#login-btns-outer .login-btns {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}
#lyrics-container{ display: inline-block; width: 100%;height: 500px; }
#lyrics-container-background { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 5; background-repeat: no-repeat; background-size: 100% 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='effect-blur-1'><feGaussianBlur stdDeviation='15' /></filter></svg>#effect-blur-1");



}
#lyrics-container-background:before { position: absolute; }
#lyrics-text{width: 100%;
    text-align: center;
    overflow: scroll;
    height: 340px;
    white-space: pre;
}
#lyrics-title { margin-left: 20px;margin-right: 20px; text-align: center;
    height: auto;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: normal;
}

.bttn {cursor: pointer}
/*#video-grid-container{height: 700px; overflow-y:scroll;}*/
/* content header and detail css */

/*.texttab a{*/
/*color: #515352;*/
/*font-size: 13px;*/
/*font-family: OpenSans;*/
/*text-decoration: none;*/
/*}*/
/*.texttab a:hover{ text-decoration: underline; }*/
/*.texttab > .selected { color: #c20049;  text-decoration: none; }*/

.video-grid img{ margin-top: -45px; }

.play-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('http://gstat.mn/musicnew/statres/stat/images/video-play.png') no-repeat center;
    border: solid 1px #3f265b;
}

.yt-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0;
    overflow: hidden;
}
.yt-container iframe,
.yt-container object,
.yt-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.gogo-icon-gray-heart {vertical-align: middle; background: url('http://gstat.mn/musicnew/statres/stat/images/gray-heart.png') no-repeat center; width: 17px; height: 17px; display: inline-block; }
.gogo-icon-full-gray-heart {vertical-align: middle; background: url('http://gstat.mn/musicnew/statres/stat/images/clicked-gray-heart.png') no-repeat center; width: 17px; height: 17px; display: inline-block; }
.gogo-icon-gray-plus {vertical-align: middle;  background: url('http://gstat.mn/musicnew/statres/stat/images/gray-plus.png') no-repeat center; width: 17px; height: 17px; display: inline-block; }
.gogo-icon-gray-list {vertical-align: middle;  background: url('http://gstat.mn/musicnew/statres/stat/images/gray-after-listen.png') no-repeat center; width: 17px; height: 17px; display: inline-block; }
.gogo-icon-gray-link {vertical-align: middle;  background: url('http://gstat.mn/musicnew/statres/stat/images/gray-link.png') no-repeat center; width: 17px; height: 17px; display: inline-block; }
.gogo-icon-gray-twitter {vertical-align: middle;  background: url('http://gstat.mn/musicnew/statres/stat/images/twitter-icon.png') no-repeat center; width: 27px; height: 27px; display: inline-block; background-size: 100% 100%;}
.gogo-icon-gray-fb {vertical-align: middle;  background: url('http://gstat.mn/musicnew/statres/stat/images/facebook-icon.png') no-repeat center; width: 27px; height: 27px; display: inline-block; background-size: 100% 100%;}

.commentbox {
    font-family: OpenSans;
    font-size: 12px;
    margin: 20px 0;
}
.commentbox-head {margin-bottom: 32px;}
.commentbox-title {
    font-family: PTSansBold;
    font-weight: bold;
    font-size: 14px;
}
.commentbox-count {
}
.commentbox .comment {
    margin-bottom: 40px;
}
.comment-avatar {
    width: 50px;
    height: 50px;
    /*background-color: #c42384;*/
    float: left;
}
.comment-avatar img{
    width: 100%;
    height: 100%;
}
.comment-content {
    margin-left: 66px;
}
.comment-content-head {
    margin-bottom: 5px;
}
.comment-author {
    font-weight: bold;
    font-size: 14px;
    padding-right: 34px;
    position: relative;
}
.comment-author-premium:after {
    content: "";
    position: absolute;
    right: 14px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url('http://gstat.mn/musicnew/statres/stat/images/premium.png') no-repeat center;
}
.comment-date {
    font-size: 10px;
}
.comment-input .comment-content-body {
    width: 600px;
    position: relative;
}
.comment-content-body .sendbox {
    width: 100%;
    resize: none;
    height: 50px;
    border: 1px solid #d5d5d5;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 80px 5px 5px;
}
.comment-content-body .sendbtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: -70px;
    width: 70px;
    height: 50px;
    background-color: #C20049;
    border: 0;
    color: white;
}
.comment-content-body .sendbox:focus {
}

.square-thumb {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 340px;
    cursor: pointer;
}

.square-thumb-head {
    /*padding: 5px;*/
    /*border: 2px solid transparent;*/
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.radio-thumb-back {
    -webkit-transition: padding 0.2s  linear;
    -moz-transition: padding 0.2s  linear;
    -o-transition: padding 0.2s  linear;
    transition: padding 0.2s  linear;
}

/*.square-thumb.selected .square-thumb-head{*/
/*border: 2px solid green;*/
/*}*/
.square-thumb:hover .radio-thumb-back{
    padding: 5px;
}

.radio-thumb-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40px) translateY(-40px);
    -ms-transform: translateX(-40px) translateY(-40px);
    -webkit-transform: translateX(-40px) translateY(-40px);
    -moz-transform: translateX(-40px) translateY(-40px);
    -o-transform:  translateX(-40px) translateY(-40px);
    width: 80px;
    height: 80px;
}

.square-thumb-head:hover .radio-thumb-icon{
    display: none;
}

.square-thumb-head:hover .radio-thumb-play{
    display: block;
}

.square-thumb-head .radio-thumb-play{
    display: none;
}

.square-thumb-title {
    padding: 15px 0;
    font-size: 20px;
    font-family: RobotoLight, helios, gogo, arial, Helvetica;
    color: #9a9a9a;
    text-align: center;
}
#home-menu {position:absolute; left: 60px; top: 35px; width: 250px; height: 250px; background-color: rgba(22,0,48, 0.8); text-align: center; white-space: nowrap; z-index: 14;}
#home-menu img { margin:auto; vertical-align: middle; }
#home-menu .helper-vertical-center{ display: inline-block; height: 100%; vertical-align: middle;}
.home-banner{ width: 100%; height: 240px;margin-left: 0; margin-top: 0; overflow: hidden; position: relative;}
.home-banner img{ width: 100%; height: auto; min-height: 290px; min-width: 1920px; margin-right: auto; margin-left: auto; }
.empty-search-result { width: 100%; height: 300px; line-height: 300px; font-size: 60px; font-family: "OpenSans", "arial"; color: #aaaaaa; text-align: center; vertical-align: middle; }
.home-button { float: right; display: inline-block; font-family: "OpenSans", "arial"; font-size: 12px; text-decoration: underline; color:#636363; }
.lyrics-close { position: absolute; height: 40px; width: 40px; top: 0px; right: 0px; color: #000000; background-color: #ffffff; font-size: 15px; text-align: center; line-height: 20px; margin: 10px;text-align: right;}


#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px;
    width:550px;
    z-index: 101;
}
#dialogbox > div > #dialogboxhead{ background: #C20049; font-size:19px; padding:10px; color:#ffffff; }
#dialogbox > div > #dialogboxbody{ padding:20px; color:#000000; background-color: #ffffff}
#dialogbox > div > #dialogboxfoot{ padding:10px; text-align:right; background-color: #ffffff}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #c20049;
    border-bottom-color: #c20049;
    animation: spinner .8s ease infinite;
    -webkit-animation: spinner .8s ease infinite;
}


.simple-grid {
    float: left;
    width: 480px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    height: 380px;
}
.simple-grid .simple-grid-head {
    height: 270px;
    text-align: center;
    overflow: hidden;
    padding: 0;
    position: relative;

}

.video-grid { height: 340px; }
.video-grid .simple-grid-head{
    height: 270px;
}

.simple-grid .simple-news-head img{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    object-fit: cover;
}


.simple-grid .simple-grid-body {
    padding: 8px 4px;
    color: #9a9a9a;
}
.simple-grid .simple-grid-title {
    font-family: RobotoLight;
}
.small-grid {
    margin-bottom: 25px;
}
.small-grid-head {
    width: 120px;
    float: left;
}
.small-grid-body {
    margin-left: 120px;
    padding-left: 10px;
}
.small-grid-title {
    font-family: RobotoLight;
    margin-bottom: 30px;
}
.small-grid-date {
    font-size: 9px;
}


.video-container{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 16px;
    padding-bottom: 30px;
}


.radio-detail-wrapper{
    top: 285px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 14;
}

.radio-content-wrapper{
    position: relative;
    width: 100%;
    height:100%;
}

.radio-detail {
    width: 100%;
    height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
}



.radio-detail-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.radio-detail-background img{
    width: 100%;
    height: 100%;
}

.radio-detail-containar{
    width: 80vw;
    height: 19vw;
    max-width: 1280px;
    max-height: 300px;
    min-width: 640px;
    min-height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    /*background-color: #00ee00;*/
}

/*.radio-detail-containar:after {*/
/*content: "";*/
/*display: block;*/
/*padding-bottom: 25%;*/
/*}*/

.audio-cover-slide {
    width: 25%;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    vertical-align:top;
    position: relative;
}

.radio-cover{
    width: 90%;
    overflow: hidden;
    border: none;
    background-color: transparent;
}
.third{
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
}
.second{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5%;
}
.first{
    position: absolute;
    margin-right: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.radio-cover > img{
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    /*width: auto;*/
    /*height: auto;*/
    /*max-width: none;*/
    /*max-height: none;*/
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    border: none;
    outline: none;
}

.radio-cover-prev {
    float: left;
    margin-left: 10px;
    height: 100%;
}

.radio-cover-next{
    float: right;
    height: 100%;
    margin-right: 10px;
}


.thumbs-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
}

.thumb-up{
    margin-right: 10px;
}

.thumb-down{
    margin-left: 10px;
    float: right;
}

.audio-name-container {
    height: 100%;
    width: 50%;
    display: inline-block;
    background-color: white;
    vertical-align:top;
    position: relative;
}
.audio-banner {
    height: 100%;
    width: 25%;
    display: inline-block;
    background-color: transparent;
    vertical-align:top;
    position: relative;
}



.audio-name, .artist-name, .album-name{
    color: black;
    font-size: 24px;
    padding-left: 40px;
    /*display: block;*/
}
.audio-name {
    margin-top: 40px;
}

.artist-name, .album-name{
    font-family: RobotoLight;
}

.album-name{
    font-size: 18px;
}


.hitone-text{height: 50px;position: absolute; bottom: 56px; width: 100%; left:0; text-align: center; font-family: "OpenSans-Light", "arial"}
.hitone-text span { color: red }

.button-container {
    position: absolute;
    height: 56px;
    width: 100%;
    bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

.button-container ul{ list-style: none; padding: 0; margin:0; display: inline-block}
.button-container ul li{ display: inline-block; height: 56px; width: 56px; }
.detail-item { height: 50%; width: 50%; margin-top: 14px; margin-left: 14px; cursor: pointer; }
.detail-lyrics { background: url("http://gstat.mn/musicnew/statres/stat/images/lyrics-icon.png") no-repeat; background-size: 100% 100%;}
.detail-hitone { background: url("http://gstat.mn/musicnew/statres/stat/images/phone-icon.png") no-repeat; background-size: 100% 100%;}
.detail-video { background: url("http://gstat.mn/musicnew/statres/stat/images/youtube-icon.png") no-repeat; background-size: 100% 100%;}
.detail-contact { background: url("http://gstat.mn/musicnew/statres/stat/images/contact-icon.png") no-repeat; background-size: 100% 100%;}
.detail-facebook { background: url("http://gstat.mn/musicnew/statres/stat/images/facebook-icon.png") no-repeat; background-size: 100% 100%;}
.detail-twitter { background: url("http://gstat.mn/musicnew/statres/stat/images/twitter-icon.png") no-repeat; background-size: 100% 100%;}
.share-container { width: 168px; float: right; height: 100%; display: inline-block;}


.audio-banner-content{
    position: absolute;
    right: 0;
    height: 100% !important;
    left: 20px;
    background-color: yellow;
    overflow: hidden;
}
.audio-banner-content img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.back-button {
    position: absolute;
    z-index: 13;
    height: 45px;
    width: 45px;
    top: 85px;
    color: white;
    text-align: center;
    line-height: 45px;
    right: 50px;
    /*background-color: rgba(22,0,48, 0.8);*/
    background: url('http://gstat.mn/musicnew/statres/stat/images/xbutton.png') no-repeat;
    background-size: 80% 80%;


}

.home-container{ margin-left: 310px; margin-right: 310px; margin-top: 40px; }
.radiobox { margin-left: 0; margin-right:0;margin-top: 40px;}


#player-container .player-extra{ list-style: none; padding: 0; margin: 0; color: white;  }
#player-container .player-extra li{ display: inline-block; background-color: #c20049; line-height: 30px; height: 30px; width: 300px; text-align: center; margin-right: 20px;}
#player-container .player-extra .radio-add { background-color: #eeeeee; color: #a5a5a5; position: relative;}
#player-container .player-extra .radio-add .add-button { background-color: #f1f1f1; }
#player-container .player-extra li .x-button { height: 30px; width: 30px; float: right; background-color: #970030; }

.radio-picker { width: 300px; position: absolute; height: 180px; padding-left:0; left: 0; overflow-x: hidden; overflow-y: scroll; z-index: 20;bottom: 30px; background-color: white; }
.radio-picker ul{ width: 320px; float: left; height: 100%; position: relative; padding-left: 0; padding-right: 20px;}
.radio-picker li { color: #0a0a0a; list-style: none; padding-right: 0; padding-left: 5px; float: left; border: none; height: 30px; padding-top: 0; padding-bottom: 0; margin: 0 !important; background-color: white !important;}
.radio-picker li:hover { background-color: #C20049 !important; color: white !important;}
.radio-picker li:hover .add-button{background-color: #970030 !important;}
.radio-add-back {width: 100%; height: 100%; background-color: transparent; position: absolute; top: 0; left: 0;}
.radio-add .first-button{ background-color: #d5d5d5 !important; }
::-webkit-scrollbar {
    display: none;
}

.login-button{
    border: solid 1px white;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    color: white;
    vertical-align: middle;
    margin-right: 15px;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: helios, gogo, arial;
    font-weight: bold;
    text-transform: uppercase;
}
.login-button:hover{ color: #C20049; border: solid 2px #C20049;}
.login-button:focus{ color: white; text-decoration: none; text-underline: none; outline: none; }

.footer { float: right; margin-right: 30px; margin-bottom: 30px; color: white; font-family: RobotoLight; line-height: 14px; font-size: 12px;}
.footer a{ color: white; }
.footer a:hover { color: white; text-decoration: underline;}
.footer span{margin-left: 5px; margin-right: 5px;}


.news-creep {
    padding-left: 16px;
    font-size: 11px;
    margin-right: 6px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
}

.cdate {
    background: url('http://gstat.mn/newsn/w/lot02/css/cimg/icons-new-500.png') no-repeat 0 0;
    background-size: 250px auto;
    color: #7a7a7a;
}

.ccomment{
    background: url('http://gstat.mn/newsn/w/lot02/css/cimg/icons-new-500.png') no-repeat 0 -15px;
    background-size: 250px auto;
    color: #7a7a7a;
}

.cshare{
    background: url('http://gstat.mn/newsn/w/lot02/css/cimg/icons-new-500.png') no-repeat 0 -32px;
    background-size: 250px auto;
    color: #7a7a7a;
    margin-right: 0;
}


.audio-lyrics{
    z-index: 10;
    background-color: white;
    color: #16002f;
    display: none;
}

.audio-lyrics .raletive-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.audio-lyrics .raletive-wrapper .lyrics-audio-lyrics{
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
    padding-bottom: 20px;
    white-space: pre;
    font-family: RobotoLight;
    font-size: 14px;
}

.radio-container {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 16px;
    padding-bottom: 30px;
}
.dynamic-root-content{
    background-color: #0d001c;
}

.absolute-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*.background-big{*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*left: 0;*/
/*top: 0;*/
/*z-index: -1;*/
/*!*background: url('/stat/images/underconstruction.jpg');*!*/
/*background-color: #1c1128;*/

/*}*/

@media (min-width: 521px) {
    .video-container{
        width: 480px;
    }

}
@media (min-width: 1021px) {

    .videocbox { top: 0 !important;}

    .video-container{
        width: 1020px;
    }
    .simple-grid{
        width: 320px;
        height: 270px;
    }
    .simple-grid .simple-news-head{
        height: 180px;
    }
    .video-grid{
        height: 270px;
    }
    .video-grid img{
        margin-top: -30px;
    }
    .video-grid .simple-grid-head{
        height: 180px;
    }
    .simple-grid-body{
        font-size: 16px;
    }
}

@media (min-width: 1521px) {

    .videocbox { top: 40px !important;}


    .video-container{
        width: 1500px;
    }
    .video-grid img{
        margin-top: -45px;
    }

    .simple-grid{
        width: 480px;
        height: 360px;
    }
    .simple-grid .simple-news-head{
        height: 270px;
    }

    .video-grid{
        height: 340px;
    }
    .video-grid .simple-grid-head{
        height: 270px;
    }
    .simple-grid-body{
        font-size: 20px;
    }
}

@media (min-width: 561px) {
    .radio-container{
        width: 540px;
    }
}

@media (min-width: 831px) {
    .radio-container{
        width: 810px;
    }
}

@media (min-width: 1101px) {
    .radio-container{
        width: 1080px;
    }
}

@media (min-width: 1371px) {
    .radio-container{
        width: 1350px;
    }
}

@media (min-width: 1641px) {
    .radio-container{
        width: 1620px;
    }
}





