{% block headtopblock %}
    {% if song is defined %}
        <meta property="article:publisher" content="http://music.gogo.mn/">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ song.artist_name }} - {{ song.name }}" />
        <meta property="og:url" content="http://music.gogo.mn{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" />
        <meta property="og:image" content="{% if song.img is defined %}{{ statdomain }}{{ statpath }}{{ song.img }}{% endif %}" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="600" />
        {% if artists is defined %}
            <meta property="og:description" content="{{ song.artist_name }} - {{ song.name }} дууг GoGo Радиогоор сонсож байна." />
        {% endif %}
        <meta property="og:updated_time" content="{% if song.publish_date %}{{ song.publish_date|date('c') }}{% endif %}"/>
        <meta property="og:site_name" content="GoGo Хөгжим"/>
        <meta property="fb:app_id" content="640923789367577"/>
        <meta property="og:locale" content="en_US" />
    {%endif%}
{% endblock %}

{% extends 'musicWebBundle:layout:empty-layout.html.twig' %}
{% if song is defined %}
    {% block title %}
        {{ song.name }}
    {% endblock %}

    {% block content %}
        <h1>
            {{ song.name }}
        </h1>
        {% if song.img %}
            <img src="{{ song.img }}"/>
        {% endif %}
        {{ song.artist_name }} - {{ song.name }}
    {% endblock %}
{% endif %}