{% block headtopblock %}
    {% if video is defined %}
        <meta property="article:publisher" content="http://music.gogo.mn/">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ video.artist }} - {{ video.name }}"/>
        <meta property="og:url" content="http://gogomusic.mn{{ app.request.pathInfo }}"/>
        <meta property="og:image" content="{% if video.img is defined %}{{ video.img }}{% endif %}"/>
        {% if video is defined %}
            <meta property="og:description" content="{% spaceless %}{{ video.descr }}{% endspaceless %}"/>
        {% endif %}
        <meta property="og:updated_time"
              content="{% if video.publish_date %}{{ video.publish_date|date('c') }}{% endif %}"/>
        <meta property="og:site_name" content="GoGo Хөгжим"/>
        <meta property="fb:app_id" content="640923789367577"/>
        <meta property="og:locale" content="en_US"/>
    {% endif %}
{% endblock %}

{% extends 'musicWebBundle:layout:empty-layout.html.twig' %}
    {% block title %}
        {% if video is defined %}
            {{ video.name }}
        {% endif %}
    {% endblock %}

    {% block content %}
        {% if video is defined %}
            <h1>
                {{ video.name }}
            </h1>
            {% if video.img %}
                <img src="{{ video.img }}"/>
            {% endif %}
            <p>{{ video.descr }}</p>
        {% endif %}
    {% endblock %}
