{% verbatim %}
<script type="text/x-tmpl" id="comment-tmpl">
    {% var comment_date = CommentFactory.prototype.toDate(o.main.posted_date.date); %}
    <div class="comment">
        <div class="comment-avatar"><img src="{%=o.userImageUrl %}"/></div>
        <div class="comment-content">
            <div class="comment-content-head">
                <span class="comment-author {% if(o.isPremium) { %}comment-author-premium{% } %}">{%=
    o.loginName %}</span> <span class="comment-date">{%=CommentFactory.prototype.fromDateToString(comment_date) %}</span>
            </div>
            <div class="comment-content-body">
                 {%=o.main.body %}
            </div>
        </div>
    </div>
</script>
{% endverbatim %}