<div class="simple-grid">
    <a href="{{ grid_href }}" {% if grid_pjax is defined and grid_pjax %}class="pjx-url"{% endif %} style="display: block;color: #000;text-decoration: initial;">
        <div class="simple-grid-head">
            {% if grid_img is defined %}
                <img src="{{ grid_img }}" style="width: 100%;margin-top:-55px;"/>
            {% endif %}
        </div>
        <div class="simple-grid-body">
            <div class="simple-grid-title">
                {% if grid_title is defined and grid_title %}{{ grid_title }} <br/>{% endif %}
            </div>
        </div>
    </a>
</div>
