{% verbatim %}
<script type="text/x-tmpl" id="simple-grid-tmpl">
    <div class="simple-grid">
        <a href="{%#o.href%}" class="pjx-url" style="display: block;color: #000;text-decoration: initial;">
            <div class="simple-grid-head simple-news-head">
                <img src="{%#o.img %}" style="width: 100%;" />
                <div class="play-cover"></div>
            </div>
            <div class="simple-grid-body">
                <div class="simple-grid-title">
                    {%=o.artists %} {%=o.name %}
                </div>
            </div>
        </a>
    </div>
</script>
{% endverbatim %}