<div class="simple-grid video-grid">
    <a href="{{ grid_href }}" {% if grid_pjax is defined and grid_pjax %}class="pjx-url"{% endif %} style="display: block;color: #000;text-decoration: initial;">
        <div class="simple-grid-head video-grid">
            {% if grid_img is defined %}
            <img src="{{ grid_img }}" style="width: 100%;height: auto;"/>
            {% endif %}
            <div class="play-cover"></div>
        </div>
        <div class="simple-grid-body">
            <div class="simple-grid-title">
                <b>{{ grid_text }}</b>
                {% if grid_title is defined and grid_title %} <br/>{{ grid_title }}{% endif %}

            </div>
        </div>
    </a>
</div>