{% verbatim %}
<script type="text/x-tmpl" id="small-grid-tmpl">
    <div class="small-grid">
        <a href="{%#o.href%}" class="pjx-url" style="display: block;color: #000;text-decoration: initial;min-height: 90px;">
            <div class="small-grid-head">
                <img src="{%#o.img %}" style="width: 100%;" />
            </div>
            <div class="small-grid-body">
                <div class="small-grid-title">
                    {%=o.name %}<br/>
                    {% if(o.artist) { %}<span style="text-decoration: underline;">{%=o.artist %}</span> {% } %}

                </div>
                <div class="small-grid-date">
                    {%=gogo.fromDateToString(gogo.toDate(o.publish_date.date)) %}
                </div>
            </div>
        </a>
    </div>
</script>
{% endverbatim %}