<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0"/>

    {% block headtopblock %}{% endblock %}

    <title>{% block title %}GoGo Хѳгжим{% endblock %}</title>

    {% block headblock %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>