{#<div class="video-container">#}
    <div id="middlenav" class="home-menu">

        <ul
                {#{% if guide is defined and guide == true %} #}
                {#data-intro='Радио сонсох, Видео үзэх, Мэдээ унших.' data-position='bottom'#}
                {#{% endif %} #}
                class="menus">
            {% for m in topmenus %}
                <a href="{{ m.url }}" class="top-menu pjx-url{% if menu is defined and menu == loop.index %} selected{% endif %}">{{ m.name }}</a>
            {% endfor %}
        </ul>

    </div>
{#</div>#}

