{% set bannernum = random(5)+2 %}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {#<meta name="viewport" content="width=device-width, height=device-height"/>#}
    {#<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>#}

    {% block headtopblock %}
        <meta property="article:publisher" content="http://music.gogo.mn/">
        <meta property="og:type" content="article">
        <meta property="og:title" content="Амьдрал бол хөгжим" />
        <meta property="og:url" content="http://music.gogo.mn" />
        <meta property="og:image" content="http://gstat.mn/newsn/images/c/2016/05/184317-04052016-1462344383-1856487695-gogomusicNEWS1500x922-3.jpg" />
        <meta property="og:description" content="GoGo Music нь Монголын хамтлаг дуучид, уран бүтээлчдийн дуу хөгжмийн бүтээлийг төрөл жанр болон төлөв байдлаар нь төрөлжүүлэн үнэ төлбөргүй сонсох боломж бүхий үйлчилгээ. Мөн хэрэглэгч та сүүлийн үеийн дуу хөгжмийн видео клип болон мэдээ мэдээллийг нэг дороос хүлээн авах боломжтой. Дуртай дуу хөгжмөө тасралтгүй сонсоорой!" />
        <meta property="og:updated_time" content="2016-05-06 00:00:00"/>
        <meta property="og:site_name" content="GoGo Хөгжим"/>
        <meta property="fb:app_id" content="640923789367577"/>
        <meta property="og:locale" content="en_US" />
    {% endblock %}


    <style type="text/css">
        @font-face {
            font-family: "OpenSansLight";
            src: url('/stat/fonts/OpenSans-Light.eot');
            src: url('/stat/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('/stat/fonts/OpenSans-Light.woff') format('woff'), url('/stat/fonts/OpenSans-Light.ttf') format('truetype'), url('/stat/fonts/OpenSans-Light.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "OpenSans";
            src: url('/stat/fonts/OpenSans-Regular.eot');
            src: url('/stat/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/stat/fonts/OpenSans-Regular.woff') format('woff'), url('/stat/fonts/OpenSans-Regular.ttf') format('truetype'), url('/stat/fonts/OpenSans-Regular.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "OpenSansBold";
            src: url('/stat/fonts/OpenSans-Bold.eot');
            src: url('/stat/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('/stat/fonts/OpenSans-Bold.woff') format('woff'), url('/stat/fonts/OpenSans-Bold.ttf') format('truetype'), url('/stat/fonts/OpenSans-Bold.svg') format('svg');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: "OpenSansItalic";
            src: url('/stat/fonts/OpenSans-Italic.ttf') format("truetype");

        }

        @font-face {
            font-family: "helios";
            src: url('/stat/fonts/MAKHelios.ttf') format("truetype");

        }

        @font-face {
            font-family: "helios";
            src: url('/stat/fonts/MAKHeliosBold.ttf') format("truetype");
            font-weight: bold;
        }

        @font-face {
            font-family: "PTSansBold";
            src: url('/stat/fonts/PTS75.eot');
            src: url('/stat/fonts/PTS75.eot?#iefix') format('embedded-opentype'), url('/stat/fonts/PTS75.woff') format('woff'), url('/stat/fonts/PTS75.ttf') format('truetype'), url('/stat/fonts/PTS75.svg') format('svg');
            font-weight: bold;
            font-style: normal;
        }
        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url('/stat/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.eot');
            src: url('/stat/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/stat/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/stat/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/stat/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
        }
        @font-face {
            font-family: 'RobotoLight';
            src: url('/stat/fonts/Roboto-Light.ttf') format("truetype");
        }
    </style>

    <title>{% block title %}GoGo Хѳгжим{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="http://gstat.mn/gogomn/img/favicon.png"/>
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>#}
    {% if app.environment == 'dev' %}

        {% stylesheets
        'stat/bootstrap-3.2.0-dist/css/bootstrap.min.css'
        'stat/bootstrap-3.2.0-dist/css/bootstrap-theme.css'
        'stat/css/idangerous.swiper.css'
        'stat/css/player/mediaelementplayer.min.css'
        'stat/css/player/mejs-skins.css'
        'stat/css/login.css'
        'stat/css/toastr.css'
        'stat/css/default.css'
        'stat/css/default.date.css'
        'stat/css/introjs.css'
        'stat/css/main.css'
        'stat/css/introjs-dark.css'
        'stat/css/introjs-custom.css'%}
        <link rel="stylesheet" media="screen" href="{{ asset_url }}"/>

        {% endstylesheets %}
    {% else %}
        <link rel="stylesheet" media="screen" href="{{ statresurl }}/css/{{ gall_css }}"/>
    {% endif %}
    <!--[if lt IE 10]>
    <script>
        var oldIE = true; if(typeof console === 'undefined') {console = {log: function(){}};}
    </script>
    <![endif]-->
    {% if app.environment == 'dev' %}
        {% javascripts
        'stat/jquery/jquery-1.11.1.min.js'
        'stat/bootstrap-3.2.0-dist/js/bootstrap.min.js'
        'stat/js/idangerous.swiper.min.js'
        'stat/js/player/mediaelement-and-player.js'
        'stat/js/player/player-plugins.js'
        'stat/js/modernizr.custom.js'
        'stat/js/player/jquery.marquee.min.js'
        'stat/js/player/jquery.cookie.js'
        'stat/js/plugins.js'
        'stat/js/tmpl.min.js'
        'stat/js/jquery.pjax.js'
        'stat/js/subpage/news.js'
        'stat/js/subpage/video.js'
        'stat/js/comment.js'
        'stat/js/cbox.js'
        'stat/js/home.js'
        'stat/js/toastr.js'
        'stat/js/picker.js'
        'stat/js/picker.date.js'
        'stat/js/legacy.js'
        'stat/js/subpage/date.js'
        'stat/js/intro.js'%}

        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        <script src="{{ statresurl }}/js/{{ gall_js }}"></script>
    {% endif %}

    {% block headhtml %}{% endblock %}


    <!--[if lt IE 10]>
        <!--<link rel="stylesheet" media="screen" href="/stat/css/ie89.css"/>-->
    <![endif]-->
</head>

<body>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '640923789367577',
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<div id="head-content">
    {% include 'musicWebBundle:layout:top-nav.html.twig' %}
</div>






<div class="dynamic-root-content">

    {% block homebanner %}
        <div class="home-banner">
            <div style="position: absolute; width: 100%; height: 100%; left: 0; top:0; background-color: rgba(13,1,27,0.5)"></div>

            <img src="{{ imgstaturl }}/banner/headbanner/{{ bannernum }}.jpg">
        </div>
        <a href="/" class="pjx-url">
            <div id="home-menu"><div class="helper-vertical-center"></div>
                <img src="{{ statresurl }}/stat/images/logo.png" alt="">
            </div>
        </a>
    {% endblock %}
    {% block topmenu %}{% endblock %}
    <div id="dynamic-content">
        {% block main %}{% endblock %}
    </div>
</div>






<div id="player-content">
    {% include 'musicWebBundle:layout:player.html.twig' %}
</div>

<div class="modal fade login-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="background-image: url('{{ statresurl }}/stat/images/loginback/login1{{ random(4)+1 }}.jpg'); background-size: 100% 100%;">
        <div id="login-container" class="modal-content">
            <div style="display: inline-block; width: 250px;">
                <div class="login-btns-title">
                    {#Нэвтрэх#}
                </div>

                <div id="login-btns-outer">
                    <a class="login-btns" href="{{ path('web_gogo_account_login') }}">
                        <img src="{{ statresurl }}/stat/images/login-gogo.png"/>
                    </a>
                    <a class="login-btns" href="/connect/facebook">
                        <img src="{{ statresurl }}/stat/images/login-facebook.png"/>
                    </a>
                    <a class="login-btns" href="/connect/google">
                        <img src="{{ statresurl }}/stat/images/login-google.png"/>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="lyrics-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="lyrics-container" class="modal-content">

            <div id="lyrics-container-background"></div>
            <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 7; background-color: rgba(255,255,255,0.4)">

              <div style="margin-bottom: 30px"> <h2 id="lyrics-title"></h2></div>
                <div id="lyrics-text"></div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="itunes-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="itunes-container" class="modal-content">

            <div id="itunes-container-background"></div>
            <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 7; background-color: rgba(255,255,255,0.4)">

                <div style="margin-bottom: 30px"> <h2 id="lyrics-title"></h2></div>
                <div id="lyrics-text"></div>

            </div>

        </div>
    </div>
</div>



<div id="dialogoverlay"></div>
<div id="dialogbox">
    <div>
        <div id="dialogboxhead"></div>
        <div id="dialogboxbody"></div>
        <div id="dialogboxfoot"></div>
    </div>
</div>

{#{% if islogged is defined and islogged %}#}
{#{% include 'musicWebBundle:scripts:option-functions.html.twig' %}#}
{#{% endif %}#}


<script>

    $("body").animate({opacity: 1}, 500);

    jQuery(document).ready(function ($) {


        $.cookie('bannernum', {{ bannernum }});

//        $(document).pjax('.pjx-detail', '.dynamic-root-content', {
//            timeout: 30000
//        });

        {% if app.request.cookies.has('savedchannelid') %}
        radioconfig.channels = [{ch:{{ app.request.cookies.get('savedchannelid') }},title:"{{ app.request.cookies.get('savedchannelname') }}"}];
        $.removeCookie('savedchannelid', { path: '/' });
        $.removeCookie('savedchannelname', { path: '/' });
        radioPlayNext();
        renderRadio();
        {% endif %}



        $(document).pjax('.pjx-url', '.dynamic-root-content', {
            timeout: 30000
        });
        $(document).bind('pjax:end', function() {
            $("#topnav").css("marginTop", 0 );
            {#console.log({{ app.user.notifCount }});#}
            {#{% if is_granted('ROLE_USER') %}#}
                {#{% if app.user.notifCount is defined and app.user.notifCount > 0 %}#}
                    {#$('.profile-notif-count').html({{ app.user.notifCount }});#}
                    {#$('.profile-notif-count').show();#}
                {#{% else %}#}
                    {#$('.profile-notif-count').hide();#}
                {#{% endif %}#}
            {#{% else %}#}

                {#$('.profile-notif-count').hide();#}
            {#{% endif %}#}
        });



        $('#player-radio').click(function(){
            if($('.audio-name-container').length > 0){
                var url = $.cookie('closeradio');
                if (url != null && url != 'undefined'){
                    $.pjax({
                        url: url,
                        container: '.dynamic-root-content',
                        success: function(){},
                        timeout: 6000
                    });
                }else{
                    $.pjax({
                        url: '/',
                        container: '.dynamic-root-content',
                        success: function(){},
                        timeout: 6000
                    });
                }

            }else{
                if(radioconfig.playlist.length > 0){
                    $.pjax({url: '{{ path('web_menu_radio_detail') }}', container: '.dynamic-root-content',success: function(){},
                        timeout: 6000});
                }

            }

        });



        toastr.options = {
            "closeButton": false,
            "debug": true,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        {% if guide is defined and guide == true %}
            $('.video-container').hide();
            introJs().start().oncomplete(function(){
                $('.video-container').show();
            }).onbeforechange(function(){
                $('.video-container').hide();
            }).onexit(function(){
                $('.video-container').show();
            });
        {% endif %}

    });

    $(function () {
        var m = parseInt($("#middlenav").css("top"));
        tophide(m);
        $(window).resize(function () {
            tophide(m);
        });
        $(window).scroll(function () {
            tophide(m);
        });
        $(window).load(function () {
            tophide(m);
        });
        $(document).ready(function () {
            tophide(m);
        });
    });

    function tophide(m) {
        var top = $(window).scrollTop();
        if (top > 35)
            top = 35;

        $("#topnav").css("marginTop", -top + "px");
    }
</script>

{#<script>#}
    {#(function ($) {#}
        {#$(window).load(function () {#}

            {#$("#player-playlist-container").mCustomScrollbar({#}
                {#axis: "x",#}
                {#advanced: {#}
                    {#autoExpandHorizontalScroll: true,#}
                    {#updateOnContentResize: true#}
                {#}#}
            {#});#}

        {#});#}
    {#})(jQuery);#}
{#</script>#}
{% block javascripts %}{% endblock %}
<div id="pjaxloader" class="spinner" style="position: fixed;top: 50%;left: 50%;width: 74px;height: 74px;z-index: 999999;border-radius: 37px;background-color: #ffffff; display: none;">
</div>


<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2482000-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
