{% block homebanner %}
    <div class="home-banner">
        <img src="{{ imgstaturl }}/banner/headbanner/{{ random(7)+2 }}.jpg">
    </div>

    <div id="home-menu"><div class="helper-vertical-center"></div>
        <a href="/" class="pjx-url">
            <img src="{{ statresurl }}/stat/images/logo.png" alt="">
        </a>

    </div>
{% endblock %}
{% block topmenu %}
    {% set topmenus =
    {
    0:{'url':path('web_menu_radio'),'name':'Радио'},
    1:{'url':path('web_menu_video'),'name':'Видео'},
    2:{'url':path('web_menu_news'),'name':'Мэдээ'}
    }
    %}
    {% set cls = 'home-menu' %}
    {% include 'musicWebBundle:layout:header.html.twig' with{'menu':1} %}
{% endblock %}
<div id="dynamic-content">
    {% block main %}{% endblock %}
</div>