{% block homebanner %}
    <div class="home-banner">
        <div style="position: absolute; width: 100%; height: 100%; left: 0; top:0; background-color: rgba(13,1,27,0.5)"></div>
        {% if app.request.cookies.has('bannernum') %}
            <img src="{{ imgstaturl }}/banner/headbanner/{{ app.request.cookies.get('bannernum') }}.jpg">
        {% else %}
            <img src="{{ imgstaturl }}/banner/headbanner/{{ random(5)+2 }}.jpg">
        {% endif %}

    </div>
    <a href="/" class="pjx-url">
        <div id="home-menu"><div class="helper-vertical-center"></div>
            <img src="{{ statresurl }}/stat/images/logo.png" alt="">
        </div>
    </a>
{% endblock %}
{% block topmenu %}{% endblock %}
<div id="dynamic-content">
    {% block main %}{% endblock %}
</div>

