<div id="player-container" style="min-width: 750px;padding-right:200px;">
    <div style="height: 30px; width: 100%;">
        <ul class="player-extra">
            <li
                    {% if guide is defined and guide == true %}
                        data-intro='Та “Радио нэмэх” дээр дарснаар гурав хүртэлх радиог сонгож, тухайн радионуудын дууг хольж сонсож болно' data-position='top'
                    {% endif %}
                    class="radio-add">
                радио нэмэх
                <div class="bttn radio-add-back"  {% if is_granted('ROLE_USER') %}  onclick="showRadios(event)" {% else %} data-toggle="modal" data-target=".login-modal-lg" {% endif %}></div>
                <div class="x-button add-button first-button"><img src="{{ statresurl }}/stat/images/add-button.png" alt=""></div>
                <div class="radio-picker" style="display: none;">
                    <ul></ul>
                </div>

            </li>
        </ul>
    </div>
    <div style="position: relative;min-width: 750px">
        <video class="mejs-gogo" width="100%" height="90" id="player1" preload="none">
            <!-- Pseudo HTML5 -->
            <source type="application/x-mpegURL" src="/stat/testAudio/index.m3u8"/>
            {#<source type="video/webm" src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm">#}
        </video>
    <span id="player1-mode"></span>
        <div
                {% if guide is defined and guide == true %}
                    data-intro='Сонсож буй радионы зураг дээр дарснаар сонсож буй дууны мэдээлэл болон өмнөх хуудасруу очих боломжтой' data-position='top'
                {% endif %}
                id="player-radio">
            {#<a class="pjx-url" href="{{ path('web_menu_radio_detail') }}">#}
                <div id="trackimg"></div>
            {#</a>#}
        </div>
        <div class="player-extra-out" style="position: absolute; width: 100px; left: 290px; top:32px;">
            <img class="player-thumb-up bttn" title="Гоё дуу" onclick="playerLikeAction(event)" src="{{ statresurl }}/stat/images/thumb-up.png" alt="">
            <img {% if guide is defined and guide == true %} data-intro='“Энэ радиогоос хасах” товчин дээр дарснаар таны сонсож буй дуу дараагийн удаа тухайн радиог сонсоход дахин тоглогдохгүй.' data-position='top' {% endif %} class="player-thumb-down bttn" title="Энэ радиогоос хасах" onclick="playerDislikeAction(event)" src="{{ statresurl }}/stat/images/thumb-down.png" alt="" style="margin-left: 15px;">
        </div>

    <div class="skip-count player-extra-out" style="position: absolute; width: 10px; height: 10px; left:440px; bottom: 30px; font-size: 10px; color: #c20049;" {% if guide is defined and guide == true %} data-intro='Та 1 цагт нэг радио дээр 6 удаа алгасах үйлдлийг хийх боломжтой.' data-position='top' {% endif %}>6</div>

        <div class="mobile-buttons" style="width: 200px; float: right; height: 100%; background-color: #110025; position: absolute; top:0; right: -200px;">
            <div class="list" style="height: 100%; width: 100%; padding: 17px;">
                <a href="https://itunes.apple.com/us/app/gogo-radio/id1114671061?mt=8" target="_blank"><div style="display:inline-block; background: url('/stat/images/mobile-itunes.png') no-repeat; background-size:  100% 100%; height: 27px; width: 95px; margin-left: 45px;">
                    </div></a>
                <a href="https://play.google.com/store/apps/details?id=mn.moco.radio" target="_blank"><div style="display:inline-block; background: url('/stat/images/mobile-playstore.png') no-repeat; background-size:  100% 100%; height: 27px; width: 95px; margin-left: 45px;">
                    </div></a>
            </div>

        </div>

<script type="text/javascript">


var radioconfig = {
    isplaying: false,
    current_audio: null,
    ib:false,
    channel: null,
    playlist: [],
    channels: []
};

$('video').mediaelementplayer({
    features: ['current','progress','duration', 'volume','playpause', 'nexttrack', 'Title'],
    enablePluginDebug: true,
    enableKeyboard: false,
    pluginPath:'/stat/js/player/',
    flashName: 'flashmediaelement.swf',
    silverlightName: 'silverlightmediaelement.xap',
    startVolume: 0.5,
    alwaysShowControls: true,
    alwaysShowHours: true,
    pauseOtherPlayers: true,
    hideVideoControlsOnLoad: false,
    timeFormat: 'mm:ss',
    audioVolume: 'horizontal',
    videoVolume: 'horizontal',
    plugins: ['silverlight', 'flash'],
    success: function (media, node, player) {
        player.setSrc('');
        media.addEventListener('ended', function () {
            console.log('ended');
            radioconfig.ib = false;
            if(radioconfig.isplaying) {
                radioPlayNext();
            }
        }, false);
        media.addEventListener('loadedmetadata',function(){

            var totalString = media.duration.toString().toHHMMSS();
            $('.mejs-totaltime').html(totalString);
        }, false);
    },
    error: function (media) {
        console.log('medialement problem is detected: %o', media);
//        toastr['info'](media);
    }
});

String.prototype.toHHMMSS = function () {
    var sec_num = parseInt(this, 10); // don't forget the second param
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}

    var time;
    if(hours > 0){
        time = hours+':'+minutes+':'+seconds;
    }else{
        time = minutes+':'+seconds;
    }
    return time;
}
//---------- player main control -------------------

function playNext() {
    if(radioconfig.isplaying == false || radioconfig.channels.length == 0) return;
    if ($('.skip-count').text() != '0'){
        skipAudio();
    }else{
        toastr['error']('Уучлаарай. Түр хүлээнэ үү. Та цагт 6 удаа дуу алгасах боломжтой!');
    }

}

//---------- player extra feature ------------------



//---------- user listening counting ----------------

var listenListener = {
    totalSeconds : 60,
    goable: true,
    go: function() {
        if(this.goable == true){
            var self = this;
            self.interval = setInterval( function() {
                self.totalSeconds -=1 ;
                if(self.totalSeconds <= 0){
                    self.notify();
                }
            },1000);
        }
    },
    pause: function() {
        clearInterval(this.interval);
        delete this.interval;
    },

    resume: function() {
        if (!this.interval) this.go();
    },

    start: function() {
        var self = this;
        self.pause();
        self.goable = true;
        self.totalSeconds = 60;
        self.go();
    },

    notify: function(){
        this.goable = false;
        this.pause();
        var currentAudio = radioconfig.playlist[radioconfig.playlist.length-1];
        var audid = currentAudio.id;
        $.ajax({
            url: "{{ path('web_audio_add_page') }}",
            data: {audioId: audid},
            dataType: 'json',
            type: 'POST'
        })
    }
};


function addRadio(e){
    e = e || window.event;
    var trtemp = e.target || e.srcElement;
    var channelId = $(trtemp).attr('channel');
    var channelName = $(trtemp).text();
    radioconfig.channels.push({ch:channelId,title:channelName});
    renderRadio();
    if(radioconfig.isplaying == false){
        radioPlayNext();
    }
}

function removeRadio(e){
    e = e || window.event;
    var trtemp = e.target || e.srcElement;
    var channelId = $(trtemp).closest('li').attr('channel');
    for(var i = 0; i < radioconfig.channels.length; i++){
        if(radioconfig.channels[i].ch.toString() == channelId){
            radioconfig.channels.splice(i,1);
            if(radioconfig.channel != null && radioconfig.channel.id.toString() == channelId){
                if(radioconfig.channels.length > 0){
                    radioPlayNext();
                }else{
                    stopRadio();
                }
            }
            renderRadio();
            break;
        }
    }

}

function isSelected(channelId){
    for(var j = 0; j < radioconfig.channels.length; j++) {
        if (radioconfig.channels[j].ch.toString() == channelId.toString()) {
            return true;
        }
    }
    return false;
}



function playThisRadio(e){
    e = e || window.event;
    var trtemp = e.target || e.srcElement;
    var tr = $(trtemp).closest('.radio-channel');
    if($('.active-radio .radio-channel').length > 0){

        if($('.active-radio .radio-channel').attr('data-channel') == $(tr).attr('data-channel')){
            toastr['info']("Та уг радиог сонсож байна");
            return;
        }
    }
    var channel = $(tr).attr('data-channel');

    var name = $(tr).find('.square-thumb-body').find('.square-thumb-title').text();
    name.trim();
    radioconfig.isplaying = true;
    radioconfig.channels = [{ch:channel,title:name}];
    renderRadio();
    radioPlayNext();
}


function saveRadio(e){
    e = e || window.event;
    var trtemp = e.target || e.srcElement;
    var tr = $(trtemp).closest('.radio-channel');
    var channel = $(tr).attr('data-channel');
    var name = $(tr).find('.square-thumb-body').find('.square-thumb-title').text();
    name = name.trim();
    $.cookie('savedchannelid', channel);
    $.cookie('savedchannelname', name);
}


function renderRadio(){
    var channelString = '';
    for(var i = 0; i < radioconfig.channels.length; i++){
        var channel = radioconfig.channels[i];
        var liString = '<li channel="'+channel.ch+'">'+channel.title+'<div class="x-button bttn" onclick="removeRadio(event)"><img src="{{ statresurl }}/stat/images/x-button.png" alt=""></div></li>';
        channelString = channelString + liString;
    }
    if(radioconfig.channels.length < 3){
        channelString = channelString + '<li class="radio-add">радио нэмэх<div class="bttn radio-add-back" onclick="showRadios(event)"></div><div class="x-button add-button first-button"><img src="{{ statresurl }}/stat/images/add-button.png" alt=""></div><div class="radio-picker" style="display: none;"><ul></ul></div></li>';
    }
    $('.player-extra').html(channelString);
}

function makeString()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 8; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}

function skipAudio(){
    if(radioconfig.ib == false){
        sifirla();
        if(radioconfig.channels.length > 0){
            var currentChannel = radioconfig.channels[Math.floor(Math.random() * (radioconfig.channels.length))];
            var randomString = makeString();
            var currentAudio = radioconfig.playlist[radioconfig.playlist.length-1];
            var audioId = currentAudio.id;
            $.ajax({
                url: "{{ path('web_menu_radio_listen') }}",
                type: 'GET',
                data: {'channel': currentChannel.ch,'skip':true,'skipped':radioconfig.channel.id,'audio':audioId, 'rnd':randomString},
                dataType: 'json',
                success: function(response) {
                    console.log(response);
                    if(response.skip != 'olmaz'){
                        if(response.t == 'b'){
                            radioconfig.ib = true;
                            var player = $('#player1')[0].player;
                            var banner = response.banner;
                            player.setCurrentTime(0);
                            player.pause();
                            player.setSrc([
                                {src: '{{ staturl }}/'+banner.url, type: "application/x-mpegURL"}
                            ]);
                            listenListener.pause();
                            setTimeout(function(){
                                player.load();
                                player.play();
                                listenListener.start();
                            },100);
                        }else{
                            playAudio(response);
                        }
                    }else{
                        toastr['error']('Уучлаарай. Түр хүлээнэ үү. Та цагт 6 удаа дуу алгасах боломжтой!');
                    }



                }
            }).fail(function(){
                console.log('Радионы дуунуудыг татаж чадсангүй!');
                stopRadio();
            });
        }else{
            toastr['error']('Та радио сонгоно уу!');
        }
    }

}


function radioPlayNext() {
    if(radioconfig.ib == false){
        sifirla();
        if(radioconfig.channels.length > 0){
            var currentChannel = radioconfig.channels[Math.floor(Math.random() * (radioconfig.channels.length))];
            var randomString = makeString();
            var dataArray =  {'channel': currentChannel.ch,'rnd':randomString};
            if(radioconfig.playlist.length >0){
                var currentAudio = radioconfig.playlist[radioconfig.playlist.length-1];
                var audioId = currentAudio.id;
                dataArray =  {'channel': currentChannel.ch,'rnd':randomString,'audio':audioId}
            }

            $.ajax({
                url: "{{ path('web_menu_radio_listen') }}",
                type: 'GET',
                data: dataArray,
                dataType: 'json',
                success: function(response) {

                    if(response.t == 'b'){
                        radioconfig.ib = true;
                        var player = $('#player1')[0].player;
                        var banner = response.banner;
                        console.log(banner);
                        player.setCurrentTime(0);
                        player.pause();
                        player.setSrc([
                            {src: '{{ staturl }}/'+banner.url, type: "application/x-mpegURL"}
                        ]);
                        setTimeout(function(){
                            player.load();
                            player.play();
                        },100);
                    }else{
                        playAudio(response);
                    }
                }
            }).fail(function(jqXHR, textStatus){
                var player = $('#player1')[0].player;
                player.setCurrentTime(0);
                player.pause();
                player.setSrc([
                    {src: '', type: "application/x-mpegURL"}
                ]);
                console.log('Радионы дуунуудыг татаж чадсангүй! '+textStatus);
                stopRadio();
            });
        }else{
            toastr['error']('Та радио сонгоно уу!');
        }

    }
}


function playAudio(response){
    if(response.status == false){
        toastr['error'](response.desc);
    }else{
        var newAudio = response.radio_channel_audio;
        if (newAudio.img == null){
            response.radio_channel_audio.img = response.radio_channel.img;
        }
        radioconfig.playlist.push(response.radio_channel_audio);
        radioconfig.channel = response.radio_channel;
        var currentAudio = radioconfig.playlist[radioconfig.playlist.length-1];
        var player = $('#player1')[0].player;
        if(newAudio.islike && newAudio.islike == true){
            $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up-filled.png');
        }else{
            $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png');
        }


        $('.skip-count').text(''+response.skip_count);
        radioconfig.isplaying = true;
        changeTrackImg('{{ statdomain }}{{ statpath }}{{ imgstatthumbpath }}/200'+radioconfig.channel.img);

        setTimeout(function() {
            player.setCurrentTime(0);
            player.pause();
            console.log(currentAudio.file_url);
            var filename = currentAudio.file_url.split("/").pop();
            var filepath = currentAudio.file_url.replace(filename,'');
            filepath = filepath.replace('+','%2B');
            filepath = filepath.replace('=','%3D');
            var source = 'http://streaming.gogo.mn:1935/gogomusic/_definst_'+filepath+'mp3:'+filename+'/playlist.m3u8';
            console.log(source);
            player.setSrc([
                {src: source, type: "application/x-mpegURL"}
            ]);
            listenListener.pause();
            setTimeout(function(){
                player.load();
                player.play();
                listenListener.start();
            },100);
        }, 50);


        $('#player-current-title').text(currentAudio.artist_name+' - '+currentAudio.name);


        if($('.radio-detail-wrapper').length > 0){
            if(currentIndex == radioconfig.playlist.length-2){
                currentIndex = currentIndex + 1;
                renderDetail();
            }

            $('.radio-detail-background').children('img').attr('src','{{ statdomain }}{{ statpath }}'+radioconfig.channel.backgroundImg);
        }

        $('.square-thumb-title').find('img').hide();
        var currentRadioId = radioconfig.channel.id;
        $(".square-thumb-title[radio="+currentRadioId+"]").find('img').show();
    }
}



function stopRadio() {
    if(radioconfig.isplaying == true){
        radioconfig.isplaying = false;
        var player = new MediaElementPlayer('#player1', {
            error: function (media) {
                toastr['error']('Уучлаарай. Дахин оролдоно уу.');
//                alert(media);
            }
        });
        setTimeout(function() {
            player.setCurrentTime(0);
            player.pause();
            listenListener.pause();
            changeTrackImg();
            sifirla();
        }, 1);


    }

}

function changeTrackImg(src) {
    var $trackimg = $("#trackimg");
    if(!src)
        $trackimg.find("img").remove();
    else {
        $img = $trackimg.find("img");
        if($img.length == 0)
            $trackimg.append("<img src='"+src+"'/>");
        else
            $img.attr('src', src);
    }
}

function pauseTrack() {
    var $k = $("#player-content .mejs-playpause-button");
    if($k.hasClass('mejs-pause')) {
        $k.click();
    }
}

function resumeTrack() {
    var $k = $("#player-content .mejs-playpause-button");
    if($k.hasClass('mejs-play')) {
        $k.click();
    }
}


//---------- loaded from social get audio url and play ------------
function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
            return sParameterName[1];
        }
    }
}


function toggleLikeContent(contentId, contentType, successUnlikeFn, failUnlikeFn, successLikeFn, failLikeFn) {
    var $target = $("#track-plugin-love");
    var dataValue = { contentId: contentId, contentType: contentType };
        $.ajax({
            type: "POST",
            url: "{{ path('web_like_content') }}",
            cache: "false",
            data: dataValue,
            success: successLikeFn,
            error: failLikeFn
        });
//    }
}




function CustomConfirm(){
    this.render = function(dialog,arg,callback){
        var winW = window.innerWidth;
        var winH = window.innerHeight;
        var dialogoverlay = document.getElementById('dialogoverlay');
        var dialogbox = document.getElementById('dialogbox');
        dialogoverlay.style.display = "block";
        dialogoverlay.style.height = winH+"px";
        dialogbox.style.left = (winW/2) - (550 * .5)+"px";
        dialogbox.style.top = "100px";
        dialogbox.style.display = "block";

        document.getElementById('dialogboxhead').innerHTML = "Тоглуулагч";
        document.getElementById('dialogboxbody').innerHTML = dialog;
        document.getElementById('dialogboxfoot').innerHTML = '<button class="btn btn-default  custom-confirm" style="background-color: #dddddd; border: none; color:#000000;" type="button">Тийм</button> <button type="button" class="btn btn-default" style="background-color: #dddddd; border: none; color:#000000;" onclick="hideDialogBox()">Үгүй</button>';

        $('.custom-confirm').on('click',function(){
            callback(arg);
            $('#dialogbox').hide();
            $('#dialogoverlay').hide();
        });
    }



}


function hideDialogBox(){
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
}



$('.gogo-confirm-cancel').on('click',function(){
    $('.gogo-confirm').remove();
});


function sifirla(){
    $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png');
    $('.player-thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down.png');
    $('#player-current-title').html("");
}


//---------- end player extra feature --------------
function showRadios(event){
    event.stopPropagation();
    var parent = $('.radio-picker');
    if(parent.css('display') == 'none'){
        $.ajax({
            url: "{{ path('web_menu_radio_list') }}",
            type: 'POST',
            data: null,
            dataType: 'json',
            success: function(response) {
                var parent = $('.radio-picker');
                var list = response.genre_list;
                for (var i = 0; i< list.length; i++){
                    var data = list[i];
                    if (isSelected(data.id) == false){
                        var nameStr = data.name + '<div class="x-button add-button"><img src="{{ statresurl }}/stat/images/add-button.png" alt=""></div>';
                        var temp = $('<li onclick="addRadio(event)" channel=""></li>');
                        temp.attr('channel',data.id);
                        temp.html(nameStr);
                        parent.find('ul').append(temp);
                    }

                }
                parent.show();
            }
        }).fail(function(){
            console.log('Радионы дуунуудыг татаж чадсангүй!');
            stopRadio();
        });
    }else{
        parent.hide();
    }

}


function playerLikeAction(e){
    if(radioconfig.playlist.length > 0){

        var currentAudio = radioconfig.playlist[radioconfig.playlist.length-1];
        var audioId = currentAudio.id;
        if(currentAudio.islike && currentAudio.islike == true){

            $.ajax({
                url: "{{ path('web_unlike_content') }}",
                data: { contentId: audioId,contentType:1},
                dataType: 'json',
                success: function(msg){
                    if(msg.status == true){
                        currentAudio.islike = false;
                        $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png');
                        if($('.radio-detail-wrapper').length > 0){
                            if(currentIndex == radioconfig.playlist.length-1){
                                $('.thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up.png')
                            }
                        }
                    }
                }
            })

        }else{
            $.ajax({
                url: "{{ path('web_like_content') }}",
                data: { contentId: audioId,contentType:1},
                dataType: 'json',
                success: function(msg){
                    if(msg.status == true){
                        currentAudio.islike = true;
                        $('.player-thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up-filled.png');
                        if($('.radio-detail-wrapper').length > 0){
                            if(currentIndex == radioconfig.playlist.length-1){
                                $('.thumb-up').attr('src','{{ statresurl }}/stat/images/thumb-up-filled.png')
                            }
                        }
                    }
                }
            })

        }
    }else{

    }

}

function playerDislikeAction(e){
    if(radioconfig.playlist.length > 0){

        var currentAudio = radioconfig.playlist[radioconfig.playlist.length-1];
        var audioId = currentAudio.id;
        if(currentAudio.dislike && currentAudio.dislike == true){
            $.ajax({
                url: "{{ path('web_undislike_content') }}",
                data: { contentId: audioId,contentType:1},
                dataType: 'json',
                success: function(msg){
                    if(msg.status == true){
                        currentAudio['dislike'] = false;
                        $('.player-thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down.png');
                        if($('.radio-detail-wrapper').length > 0){
                            if(currentIndex == radioconfig.playlist.length-1){
                                $('.thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down.png')
                            }
                        }
                    }
                }
            })


        }else{
            $.ajax({
                url: "{{ path('web_dislike_content') }}",
                data: { contentId: audioId,contentType:1},
                dataType: 'json',
                success: function(msg){
                    if(msg.status == true){
                        currentAudio['dislike'] = true;
                        $('.player-thumb-down').attr('src','{{ statresurl }}/stat/images/thumb-down-filled.png');
                        skipAudio();
                    }
                }
            })

        }
    }else{

    }

}


</script>

</div>
</div>

