<div id="topnav" class="hidden-xs">
    <ul class="topnav_menus">
        <li><a href="http://gogo.mn" target="_blank">GoGo</a></li>
        <li><a href="http://news.gogo.mn/" target="_blank">Мэдээ</a></li>
        <li><a href="http://mongolia.gogo.mn/" target="_blank">MONGOLIA</a></li>
        <li><a href="http://share.gogo.mn/" target="_blank">Share</a></li>
        <li><a href="https://www.yolo.mn/" target="_blank">Yolo</a></li>
        <li><a href="http://kids.gogo.mn/index.html" target="_blank">Kids</a></li>
        <li><a href="https://mobiplay.mn" target="_blank">Mobiplay <img src="http://gstat.mn/staticcontents/mobiplay_icon.png" style="margin-bottom: 5px;"></a></li>

    </ul>
    <div style="float:right;">
        <ul class="outer-channels">

            {% if is_granted('ROLE_USER') %}

            <li class="topnav-name">{{ app.user.firstName }}</li>
            <li>
                <a href="{{ url('social_logout') }}" class="login-button">
                    ГАРАХ
                </a>
            </li>
            {% else %}
            <li>
                <a href="javascript:void(0)" class="login-button" data-toggle="modal" data-target=".login-modal-lg">
                    НЭВТРЭХ
                </a>
            </li>
            {% endif %}

            <li><a href="https://www.facebook.com/gogo.mn/?fref=ts" target="_blank"><img src="{{ statresurl }}/stat/images/facebook-icon.png" alt=""></a></li>
            <li><a href="https://twitter.com/musicgogomn" target="_blank"><img src="{{ statresurl }}/stat/images/twitter-icon.png" alt=""></a></li>
            <li><a href="https://www.youtube.com/channel/UCN7rqiSzSJivkz-BxiE9GTw " target="_blank"><img src="{{ statresurl }}/stat/images/youtube-icon.png" alt=""></a></li>

        </ul>
    </div>
</div>