{% block headtopblock %}
    {% if song is defined %}
        <meta name="twitter:card" content="app">
        <meta name="twitter:app:country" content="MN">
        <meta name="twitter:site" content="@musicgogomn">
        <meta name="twitter:title" content="{{ song.artist_name }} - {{ song.name }}">
        <meta name="twitter:text:title" content="{{ song.artist_name }} - {{ song.name }}">
        <meta name="twitter:image" content="{% if song.img is defined %}{{ statdomain }}{{ statpath }}{{ song.img }}{% endif %}">
        <meta name="twitter:description" content="{{ song.artist_name }} - {{ song.name }} дууг GoGo Радиогоор сонсож байна.">
        <meta name="twitter:app:name:iphone" content="GoGo Радио">
        <meta name="twitter:app:id:iphone" content="498180266">
        <meta name="twitter:app:id:ipad" content="498180266">
        <meta name="twitter:app:id:googleplay" content="mn.moco.music.gogo">


    {%endif%}
{% endblock %}

{% extends 'musicWebBundle:layout:empty-layout.html.twig' %}
{% if song is defined %}
    {% block title %}
        {{ song.name }}
    {% endblock %}

    {% block content %}
        <h1>
            {{ song.name }}
        </h1>
        {% if song.img %}
            <img src="{{ song.img }}"/>
        {% endif %}
        {{ song.artist_name }} - {{ song.name }}
    {% endblock %}
{% endif %}